<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-164357380-1');
        </script>
        <title>A. Kuszyk</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div class="container" id="app">
            <div class="row">
                <div class="col-lg">
                    <h1 class="center display-2">A. Kuszyk</h1>
                    <hr>
                </div>
            </div>
            <div class="row center">
                <div class="col-lg">
                    <h4>A portfolio of short fiction by A. Kuszyk.</h4>
                    <h4>If you read a story, please leave constructive, anonymous feedback via a comment.</h4>
                </div>
            </div>
            <div v-for="story in stories" class="row">
                <div class="col-lg">
                    <hr>
                    <div class="row">
                        <div class="col-sm">
                            <h2>
                                <a class="tag text-dark" v-bind:href="story.url">{{ story.title }}</a>
                            </h2>
                        </div>
                        <div class="col-sm">
                            <h6>
                                <template v-for="tag in story.tags">
                                    <span class="align-middle tag badge badge-secondary">{{ tag }}</span>{{ ' ' }}
                                </template>
                            </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm italic">
                            <h5>{{ story.blurb }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="center tag">&#169; A. Kuszyk 2020</p>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                stories: [
                    {
                        title: 'The Kingdom of Tharg',
                        url: '/the-kingdom-of-tharg',
                        tags: ['2 hrs', 'novella', 'sci-fi', 'fantasy'],
                        blurb: 'The Kingdom of Tharg follows Calir and his friends on a journey home through the mountains. When they are waylaid by an evil warlord and dark sorcery, Calir struggles to find his way home and rescue his friends.'
                    },
                    {
                        title: 'Skylon Tower',
                        url: '/skylon-tower',
                        tags: ['15 mins', 'short story', 'sci-fi', 'detective', 'adult themes'],
                        blurb: 'Bertram Yang, private detective, is hired to investigate the mysterious disappearance of a young fashion model. Little does he know the job might be his last.'
                    },
                    {
                        title: 'The Rockets Beneath Us',
                        url: 'the-rockets-beneath-us',
                        tags: ['20 mins', 'short story', 'sci-fi'],
                        blurb: 'Kurt is searching a dead city for a lost way out. Can he find it before his persuers catch up with him?'
                    },
                    {
                        title: 'The Penthouse',
                        url: '/the-penthouse',
                        tags: ['10 mins', 'short story', 'sci-fi', 'horror'],
                        blurb: 'Dark secrets about a Penthouse will come out sooner or later.'
                    }
                ]
            }
        })
    </script>
    </body>
</html>
