<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-164357380-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
        <title>A. Kuszyk | The Rockets Beneath Us</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            ul.timeline {
                list-style-type: none;
                position: relative;
            }
            ul.timeline:before {
                content: ' ';
                background: #d4d9df;
                display: inline-block;
                position: absolute;
                left: 29px;
                width: 2px;
                height: 100%;
                z-index: 400;
            }
            ul.timeline > li {
                margin: 20px 0;
                padding-left: 20px;
            }
            ul.timeline > li:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #22c0e8;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }
        </style>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>The Rockets Beneath Us</h1>
<h3><a href="the-rockets-beneath-us.pdf">PDF</a>  |  <a href="the-rockets-beneath-us.epub">EPUB</a> </h3>
            <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg">
                <h2></h2>
<p>Kurt wandered down the deserted avenue, flanked by overgrown trees that were leading him to nowhere. He did this every day–not down this road, of course, but down one like it. Today, however, something unusual happened: a building loomed out of the haze and he stopped. He squinted. Was that it? He consulted a crumpled postcard in his breast pocket. Pillars–eight of them–supporting a low, triangular roof. It looked the same. It was definitely different from the other buildings in the city, which were all made of broken glass and jagged steel. This one looked like it was made from stone! He looked from the postcard to the building again and then stowed the card. Today, he thought, we might find it.</p>
<p><hr></p>
<p>"What are we looking for mama?"</p>
<p>"The library darling."</p>
<p>"Why?"</p>
<p>"Because it might have a map or something–something to help us find it."</p>
<p>Michael thought about this for a moment. "But why do we need it mama?"</p>
<p>"So we can escape Michael."</p>
<p>He nodded. He didn't need to ask why.</p>
<p><hr></p>
<p>Walking up the broad steps, Kurt could make out half-empty window frames and fallen gutters. The pillars were cracked and chipped, but the stone looked very solid close-up. He stopped to look up at the entrance.</p>
<p>"Kit-ee...lib-rah-rhy."</p>
<p>His father had taught him to read, but his lessons had stopped when his heart did. Kurt hadn't tried learning any more since. He looked at the postcard again.</p>
<p>"Home of the city's knowledge and wisdom."</p>
<p>These words he knew by rote. His father had repeated them every day.</p>
<p>"One day Son, we'll find that library and then we'll find the place alright, you be sure. We'll find that place and then we'll be gone, you mark my words."</p>
<p>Kurt didn't know what to think. He hadn't really expected to find it without him, but here he was. Maybe the old man was right after all.</p>
<p>The doors were corroded shut. There was just a circle of rust where the handle was supposed to be, so he started looking for another way in. The second window he came to was broken–the hole in the bottom looked big enough for him to squeeze through. He managed to pull himself onto the window ledge and crawled through into the dark interior. So far, so good.</p>
<p><hr></p>
<p>"Why's he stopped mama?"</p>
<p>"Quietly Michael!"</p>
<p>"Sorry..."</p>
<p>"I'm not sure, but I think he's seen something in the distance."</p>
<p>"What's that?"</p>
<p>"I can't see from here, but it might the library."</p>
<p>"What <em>is</em> the library mama?"</p>
<p>"Its for books and records and things–and maps hopefully–from before the diaspora."</p>
<p>"What's dye-ass-pour-ah?"</p>
<p>"Its when everybody left honey, everyone but us."</p>
<p>"With papa?"</p>
<p>"Yes, with papa honey."</p>
<p>"What about him?"</p>
<p>"He was left behind too honey, just like us."</p>
<p><hr></p>
<p>The first floor wasn't right. It was filled with small books covered in pictures of silly things. They wouldn't have put it there, it was too serious. The second floor was the same, except the pictures were less silly. At first he thought this might be right, because some of the pictures were of space, but then most were of animals and buildings and things like that. The third floor was full of useless computers–what a waste of space. When he finally got to the fourth floor his legs were burning from all the stairs.</p>
<p>This floor wasn't like the others. It had a low ceiling and felt smaller. The air was close and stale and the carpet was covered in a thick layer of dust. No-one had been here in a long time. He walked in, leaving a trail of footprints behind him.</p>
<p>"Car-toe-grapp-hee."</p>
<p>He didn't have a clue what that meant.</p>
<p>"Az-troe...his-toe-ree."</p>
<p>His father hadn't taught him that word either.</p>
<p>"Nah-sah...NASA!"</p>
<p>He knew that one! He rushed over and started walking down the aisle. More books, but also some folders and documents in plastic covers. These ones didn't have pictures on the front, just writing. He ran his finger down the spines of the documents on the middle shelf, not really sure what he was looking for. He stopped at a pink plastic folder. He pulled it out and carefully started leafing though its contents. Words, diagrams, more words. He wanted a map. He needed a map. Where had they put it?</p>
<p><hr></p>
<p>"He broke in through the window!"</p>
<p>"It's not breaking in Michael, no-one lives here any more."</p>
<p>"How do you know?"</p>
<p>"I just know honey, no-one lives in the cities any more. Besides, he's the only other person we've seen in years, isn't he?"</p>
<p>"I guess..."'</p>
<p>"The question is: how are we going to get in?"</p>
<p>Mary was looking at the building and Michael looked down in thought.</p>
<p>"We break in?"</p>
<p>Mary laughed and then looked serious. "We break in."</p>
<p><hr></p>
<p>The paper was yellowing and he handled it with care. He didn't know what year it was now, but his father had told him he was born at the beginning of the 22nd century. He knew that meant around the year 2100, although he was always confused as to why it wasn't 2200. These pages were dated 2044, so about fifty years before his birth. He was pleased that he'd been able to do the maths.</p>
<p>Kurt was good with numbers and he could read them just fine. The pages of dense text, however, baffled him. It wasn't words he was looking for anyway. He was after drawings or maps or something like that–something that would point out where it was. It couldn't be easy to hide, so the drawing would have to show big things. The pine forest, the hill, the concrete-walled lake. These would be the landmarks, he was sure of it. Kurt had explored all of these places, of course, not to mention the city itself. But for all of his searching, he couldn't find any trace of what NASA was hiding. If he could find a big drawing, or a map, or some kind of picture–</p>
<p>He froze. Was that a sound from the stairwell? There it was again. Definitely a noise from downstairs. He looked around in panic and saw another door with a bar across it. Looking back to the stairway, he snatched up the folder and ran over to the other door. He pushed on the bar and it sprang open so fast that he stumbled through. He was standing on a metal gantry with steps leading down the outside of the building. He glanced back inside one last time and then slammed the door and leapt down the stairs two at a time.</p>
<p><hr></p>
<p>"Can you fit through honey? Be careful!"</p>
<p>"I–I think so..."</p>
<p>"What's on the other side?"</p>
<p>"Well...there's a window ledge–"</p>
<p>"Is it safe?"</p>
<p>"–yes, it's safe mama, don't worry...and there's a bit of a drop to the floor–"</p>
<p>"How much of a drop? If it's too far Michael you just come right back–what was that?"</p>
<p>"Just me jumping down mama, I'm inside now!"</p>
<p>Mary paused to take this in.</p>
<p>"Are you OK?"</p>
<p>"I'm fine!"</p>
<p>"Good boy honey, well done, you're a very brave boy!"</p>
<p>"Thanks mama...what shall I do now?"</p>
<p>"See if there's another way in, one that I'll fit through."</p>
<p><hr></p>
<p>A few hours later Kurt was safely back in his father's house. He laid the folder down on the kitchen table and poured a mug of water from the jerry can. Sitting down in front of the folder he tried to relax. He was pretty sure he hadn't been followed up to the house, because you could see a long way back down the hill and he hadn't seen a soul.</p>
<p>Starting from the beginning, he flicked through the pages and this time he took a closer look. Words, more words, pages of words–hang on. He leaned closer. Those were numbers. Three numbers comma another three numbers. Co-ordinates? He might not be able to read words very well, but he could read maps perfectly and these numbers looked a lot like a six-figure grid reference. He got down from the table and opened the chest underneath. Sifting through its contents he found what he was looking for in short order. A map of the city, scale: one inch to the mile.</p>
<p><hr></p>
<p>"Why are we whispering?"</p>
<p>"In case he's still here!"</p>
<p>"What if he is?"</p>
<p>"Then we don't want him to find us!"</p>
<p>"Why not?"</p>
<p>"Ssh!"</p>
<p>They were winding their way up the stairwell peering out cautiously at each floor they reached.</p>
<p>"But he could be anywh–"</p>
<p>Michael broke off mid-sentence looking at his mother, who was looking at the floor. Footprints covered the carpet and they looked fresh.</p>
<p>"Hello?"</p>
<p>They exchanged glances.</p>
<p>"We're here and we're coming out now...we don't mean any harm!"</p>
<p>Mary held Michael close to her and they stepped out into the room.</p>
<p><hr></p>
<p>When he finally left the house, the cool air made him look up at the red and purple tapestry of the setting Sun. Evening or not, Kurt wasn't going to stop now. Sweating up the hill, he was determined to make it to the top before anyone else. He was sure there'd been someone else in the library and who knows what they might have found. They might not have known anything about maps and co-ordinates, but they might have found a picture–and the hill was unmistakable to anyone who lived near the city. Despite his haste, Kurt was nervous about what he was going to do when he got there.</p>
<p>"Somewhere out there Son, they've hidden it good and proper. One day we'll find it and we'll say, ‘well shucks, we could see it all along'. Mark my words, it's out there somewhere."</p>
<p>His father had never suspected that it was actually <em>in</em> the hill. So, of course, neither had Kurt. The co-ordinates were unmistakable though–they'd hidden it at the top of the hill. When he reached the summit, he stood by the familiar concrete monolith that marked the highest point and slowly turned on the spot. The evening sky was beginning to show points of light here and there and he shivered. Opening up the page with the co-ordinates, he tried to find something else that might help.</p>
<p>"Thee...oh-pen-ing...can...be...found...at–", followed by the six numbers. He concentrated in the fading light and tried to read on.</p>
<p>"There...is...a...ser-vice...en-trance–" he wasn't sure what one of those was, "–five...met-res...east...and...two...north."</p>
<p>Five metres East and two North! He jumped up and looked around. His house was that way–which was west–which meant that it was five metres...that way! He set off, taking five exaggerated steps and then turning abruptly and taking two more. He looked at the bare patch of grass at his feet. Now what?</p>
<p><hr></p>
<p>"Hello-oh!"</p>
<p>Silence. The footsteps led to an aisle, back out of it and then to the fire escape.</p>
<p>"Maybe he's like a spider."</p>
<p>"How's that honey?"</p>
<p>"You know, more afraid of us than we are of him."</p>
<p>"Oh, right," she chuckled, "maybe, maybe."</p>
<p>"Do you think he found what he was looking for?"</p>
<p>"I'm not sure honey, but he was down that aisle for a reason."</p>
<p>Mary quickly found the place where there was a gap on the shelf and scanned the adjacent titles.</p>
<p>"Hmm, here we go: ‘Urban Ballistic Site Planning, 2044'. I wonder why he left it?"</p>
<p>"What does it mean mama?"</p>
<p>"I don't know, maybe he didn't think it was important–"</p>
<p>"No, I mean the urban ballast thingy."</p>
<p>"Oh, right, well, that's what we're looking for Michael. Urban–that means in a city. Ballistic–that means, sort of explosive, like a rocket. And Site Planning should be information about where they put them, so we can find them."</p>
<p>Michael nodded seriously.</p>
<p><hr></p>
<p>Kurt stamped on the ground here and then there. They sounded different. Here it was sort of taut and firm. There it was sort of muffled and close. He found a piece of broken cement and started hacking at the grass. A sudden jolt in his arms told him he'd found something. Clearing away the soil revealed a metal hatch about twice as wide as he was. The letters embossed on the surface were perfectly preserved: N. A. S. A.</p>
<p>He looked around furtively to see if anyone was watching him. It was getting dark now and he couldn't see beyond the tree line. He was feeling slightly afraid, but he knew what his father would do in this situation.</p>
<p>"It's every man for hisself Kurt, don't you forget that. You got to find it first and don't let no-one else in on the secret. If you find it and you take it and it's too bad for anyone else."</p>
<p>He used to say that sort of thing a lot, so Kurt knew what he had to do now. He had to get inside and somehow take-off before anyone else caught up with him. The trouble was, he couldn't open the hatch–either it was too heavy, or it was locked shut. He pulled and heaved until he was sweating and swearing, but it was no use. In the end he started kicking it through his tears. His second kick shifted some of the turf and he stopped crying. It looked like there was more metal–or something shiny–underneath. On his hands and knees, he scraped away more soil until he was looking at a clear, smooth rectangle with something dark below. He touched it tentatively and then leapt back in surprise.</p>
<p>"Hand print not verified, please try again," came the disembodied voice of a woman. The entire panel had lit up blue and a chiming noise had accompanied the lady's voice.</p>
<p>Once he'd recovered his senses, he leaned forwards again and cautiously placed his entire hand flat against the panel.</p>
<p>"Hand print verified, welcome: Wright, Kurt."</p>
<p>With this a hiss escaped from the hatch and it sprang open revealing a glowing interior that dropped into the hillside like a well. A moment passed whilst Kurt stared at this new discovery. Then, very slowly, he crept to the edge and lowered himself in.</p>
<p><hr></p>
<p>"But why are we running?"</p>
<p>"I told you Michael, we have to get there before he does."</p>
<p>"Why? I don't like running!"</p>
<p>Mary stopped and held Michael by his shoulders.</p>
<p>"Because honey, this might be the last one left and they only built them to carry three or four people."</p>
<p>"All the people left in threes and fours?"</p>
<p>"No, of course not Michael, they used the space elevator, but we can't use that now so this is our last chance."</p>
<p>"But why?"</p>
<p>"I just told you Michael, now come on!"</p>
<p>"No, I mean why can't we use the space elevator now?"</p>
<p>"Oh," Mary softened slightly, "well honey, because it's thousands of miles away and buried in the middle of the ice. Without the special ships and things the people used to use to get there we wouldn't stand a chance. This is it Michael, this is the only one left and if we don't find it before he does we'll be stranded here forever. You'll never see papa again."</p>
<p>Michael looked down at this and Mary looked a little guilty. Still, she carried on anyway.</p>
<p>"He's waiting for us up there Michael, but if we don't hurry we might never see him again. OK?"</p>
<p>"OK," he said to his feet.</p>
<p>"Come on the honey, let's hurry."</p>
<p><hr></p>
<p>At the foot of the ladder Kurt found a low corridor. It was dark to begin with, but as he reached the bottom it was illuminated by lights that flickered on. He walked down the tunnel as fast as he dared and quickly reached the door at the end. This door was three metres square and made of red metal. He couldn't see any glassy panels on the wall–how was he supposed to open it? He pushed against it. Nothing. He pushed some more, putting his entire weight behind it, and the door gave a low creak.</p>
<p>Inside, the room was dimly lit by the flickering and blinking of various control panels and dials. In the middle of the wall there was a large, black screen, but it was off–all he could see in it was his reflection. He bumped into a stool–his eyes where still adjusting–and sat down. He'd seen lots of computers, which his father had told him about, but they'd all been blank and lifeless. This one was quite different. Shapes were moving on some of the screens and buttons were flashing on and off as if they wanted to be pressed.</p>
<p>He spotted a rectangular panel of glass, like the one on the surface, and confidently placed his hand on it.</p>
<p>"Hand print verified, welcome: Wright, Kurt."</p>
<p>Kurt waited for a few seconds and then tentatively said, "hello computer?"</p>
<p>"Wright, Kurt. Welcome. Do you wish to embark?"</p>
<p>"Embark?"</p>
<p>"Embark. Launch, board, set-out, lift-off. Embark."</p>
<p>"Yes, I do!"</p>
<p>"How many passengers?"</p>
<p>"Just me."</p>
<p>"The capsule is equipped to carry four adults and four children. How many passengers?"</p>
<p>"No-one else, just me!"</p>
<p>"One moment."</p>
<p>It sounded like the computer didn't approve of him leaving by himself, but it was every man for himself–that's what his father had said. The computer had to do what he asked...didn't it? He was wondering if he needed to say anything else to convince the computer when several things happened at once.</p>
<p>Flickering into the life, the screen in front of him was suddenly bright enough to make Kurt squint. It showed a picture of something his father had made sure he'd recognise–a Saturn IX rocket. Except–he leaned forward–it wasn't a screen, it was a window! Immediately after, a door slid open to his right making him start and squint again at the brightly lit interior.</p>
<p>"Wright, Kurt, and zero passengers. Please enter the embarkation lounge."</p>
<p>Kurt was momentarily stunned, but quickly recovered and dashed into the next room for fear that the door would close. This one had four glass cylinders down either side which contained what must have been space suits. One of the cylinders hissed open and stood waiting for him. He spent the next few minutes trying to clamber into the suit, stopping every now and then to listen. He could have sworn he could hear voices, but whenever he stopped rustling into the suit there was nothing but silence. As soon as he was in the suit, the computer spoke to him again.</p>
<p>"Wright, Kurt, and zero passengers. Please proceed to the upper access balcony."</p>
<p>Another door slid open, leading into a much smaller room. He waddled into it and as soon as he had cleared the boundary the door hissed shut again and the room started to move. This took him by surprise and he had to steady himself against the wall. What kind of advanced facility was this that it had moving rooms? Almost as soon as it had started, though, the movement stopped and the door opened again. He stepped out and immediately jumped back from the edge. He was on a platform near the top of the rocket. The whole thing seemed to be vibrating and he could see all the way down to the floor through the grating at his feet. His stomach flipped with vertigo and he retreated into the moving-room.</p>
<p>The rocket was only a few metres away across a sort of bridge. There was a hand railing on one side, but the other side was completely open. If he stuck to the rail he knew he'd be safe, but he couldn't help feeling terrified.</p>
<p>"If you find one of them rockets you got to take it Son. There ain't no ifs and there ain't no buts. If you see it, take it. Don't wait for nobody or no-one. If you take it first, its yours, you hear?"</p>
<p>He could still hear those words loud and clear. If his father had been here Kurt wouldn't have felt afraid. But he's not, he thought, I am. He nodded his head once and walked boldly across the gap. When he reached the rocket he released a breath he didn't realise he'd been holding.</p>
<p>After a bit of experimentation he managed to open the hatch. Inside the rocket, however, it was awkward to move or do anything. The seats were facing the wrong way up and there wasn't a good place to stand to close the hatch. Still, by balancing on a seat he managed to swing it closed. As he did so, the voice of the computer sprang to life inside his helmet, making him jump again.</p>
<p>"Wright, Kurt. Please sit at the rear of the cabin and fasten the straps as indicated."</p>
<p>He found a simple diagram on the seat and managed to secure himself after only a few moments of fussing with the buckle.</p>
<p>"I'm ready!"</p>
<p>"Acknowledged. Now that all of the passengers are seated correctly, launch will proceed in tee minus three minutes."</p>
<p>Three minutes? That was an eternity to wait when someone else could show up at any time. What if he'd been followed from the library? What if there was someone in the control room right now? What if someone was lurking on the balcony? He craned his neck to try to look out of the porthole, but couldn't see anything. The rocket was starting to vibrate noticeably and there was a dull rumbling coming from somewhere far below him.</p>
<p>"All passengers, please prepare for launch. This vehicle will be departing in tee minus thirty seconds."</p>
<p>Kurt started to sweat into his suit. His father had never actually mentioned what take-off would be like and, now he was here, he was scared.</p>
<p>"Ten, nine, eight..."</p>
<p>For one thing, he wondered if the seats would go the right way up when the rocket launched. It would be strange if they were the wrong way up the whole way.</p>
<p>"...three, two, one..."</p>
<p>Before he could wonder any more about the seats there was a huge explosion from somewhere below him and he was pushed deep into his seat. He could barely breath and couldn't have cried out even if he wanted to. He thought he was going to be sick, but even that seemed to be beyond him.</p>
<p>As the rocket lifted off he prayed for help from his father–something he'd never done before. The last thing he remembered before drifting out of consciousness was wondering whether or not his father might be up there in space somewhere. He hoped he didn't die before he had the chance to find out.</p>
<p><hr></p>
<p>Mary and Michael always remembered the day the rocket launched. It was dusk and the hill was beginning to loom out of the twilight. Mary would have called what happened an earthquake if she hadn't known better. They were both thrown from their feet as a torrent of soot and stone erupted from the top of the hill. A burst of fire licked out into the night and with the sound of a hundred thunder claps the rocket rose into the sky. It disappeared into the darkness on the crest of a flame that cast long, unnatural shadows all around. Watching the trail of light, both of them knew they had lost something momentous. Mary knew this had been their last chance to leave a dead world. Michael knew he'd never see his papa again. When the thunder had abated and night had returned, they helped each other up and looked helplessly up at the stars.</p>
<p>"Was that the last rocket mama? The one we've been looking for?"</p>
<p>"Yes Michael," she whispered in reply.</p>
<p>"Did he get it?"</p>
<p>Mary nodded.</p>
<p>"What do we do now?"</p>
<p>Mary swallowed and sniffed, turning to her son with streaks down her cheeks.</p>
<p>"We survive honey, we survive."</p>
<p><hr></p>
<p>Disintegrating into pieces as it floated out of the atmosphere, the rocket ejected the capsule before gently sinking back to Earth. Spinning and manoeuvring, the space-bound craft reached an orbit preordained on the day of its construction. It glided over the continents and the oceans; the storms and the deserts; thousands of miles above the dead cities that had once illuminated the darkness.</p>
<p>A small, white globe appeared over the horizon and gradually grew closer. The space station was an ancient shrine of ingenuity and now–hubris. Once, it had been a citadel of hope and power. Now it was ruined and decayed, like the landscape beneath it. The windows were blown out and the inside was a hard vacuum, just like the outside.</p>
<p>The capsule docked like clockwork, discharging its fragile passenger into the legacy of humanity and the fate of his forefathers.</p>

<hr>
                <hr>
                <p style="text-align:center">
                    
                    <br>
                        
                </p>
            </div>
        </div>
        <div id="app" class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Comments</h4>
                <ul class="timeline">
                    <li>
                        <form>
                            <div class="form-group">
                                <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                                <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                                <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                            </div>
                        </form>
                    </li>
                    <li v-for="comment in comments">
                        <p><b>{{ comment.createdAt }}</b></p>
                        <p>{{ comment.body }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <script>
        loadComments = function() {
            $.get('/topics/16281153/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post(
                    {
                        url: '/topics/16281153/comments',
                        data: JSON.stringify({Body: app.newComment}), 
                        contentType: 'application/json'
                    }, 
                    function() {
                        loadComments()
                        app.newComment = ''
                    })
                }
            }
        })

        loadComments() 
        </script>
    </div>
    </body>
</html>
