
<!doctype html>
<html lang="en">
    <head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-164357380-1');
</script>
    <title>A. Kuszyk | Skylon Tower - Flower Petal (1/8)</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
    
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>
    
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg"><h1>Skylon Tower</h1>
<h2>Flower Petal</h2>
<h3>Part 1/8

                <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg"><p>It was raining again that night, when I stepped out of Yeung Fo's apartment. A storm had been building all day in the humid, brooding air, but this wasn't the sort of violent explosive storm that blew itself out in a few hours. This was the sort of relentless, constant down-pour that lasted forever and soaked you through immediately.</p>
<p>I'd just landed another job, although if I'd have known it was to be my last I might have passed it up. Still, when a man like Yeung Fo asks you to find his daughter, you take his money and make sure you find a girl. If she's the daughter, great. If she looks the same, so be it. But you find a girl.</p>
<p>They were all alike, these rich men with their spoiled daughters. Flower Petal - what kind of a name was that? Fashion model. And he's paying me 1500 Yen to find her. She probably earns that in a single shoot. But like I said, a man like that asks, its not a request. I'm an underclass to men like Fo. Even if he needs me, its like a lord needs his servants. If one disobeys, he can always find another.</p>
<p>I pulled up my collar and headed out into the darkness, wet feet in puddles and rain soaking through my shoulders. The bright lights of New Seoul illuminated the sky, but all I saw was rain clouds shrouding the darkness and a missing girl on every street corner.</p>
<p><hr></p>
<p>"Flower Petal."</p>
<p>"Oh yeah sure, I know the chick, Cream."</p>
<p>Cream. I hate that name. These cool kids think they're so goddamn clever because their daddies won the war. Doesn't mean they can call me a Cream. Still, pride's no weapon when you're trying to get one of these suckers to open up.</p>
<p>"Great, that's great son, when did you last see her?"</p>
<p>"Who's asking Cream pie?"</p>

                <hr>
                <p style="text-align:center">| 1 | <a href="flower-petal-2.html">2</a> | <a href="flower-petal-3.html">3</a> | <a href="flower-petal-4.html">4</a> | <a href="flower-petal-5.html">5</a> | <a href="flower-petal-6.html">6</a> | <a href="flower-petal-7.html">7</a> | <a href="flower-petal-8.html">8</a> |<br><a href="/skylon-tower">Previous Chapter</a> | <a href="/skylon-tower/bertram-1.html">Next Chapter</a>
                </p>
            </div>
        </div>
<div id="app" class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Comments</h4>
        <ul class="timeline">
            <li>
                <form>
                    <div class="form-group">
                        <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                        <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                        <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                    </div>
                </form>
            </li>
            <li v-for="comment in comments">
                <p><b>{{ comment.createdAt }}</b></p>
                <p>{{ comment.body }}</p>
            </li>
        </ul>
    </div>
</div>
    
<script>
        loadComments = function() {
            $.get('/topics/18655331/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post({
                    url: '/topics/18655331/comments',
                    data: JSON.stringify({Body: app.newComment}), 
                    contentType: 'application/json'
                }, function() {
                    loadComments()
                    app.newComment = ''
                })
            }
        }
    })

   loadComments() 
</script>
 
    </div>
    </body>
</html>