
<!doctype html>
<html lang="en">
    <head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-164357380-1');
</script>
    <title>A. Kuszyk | Skylon Tower - Flower Petal (4/8)</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
    
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>
    
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg"><h1>Skylon Tower</h1>
<h2>Flower Petal</h2>
<h3>Part 4/8

                <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg"><p><hr></p>
<p>Skylon Tower. I should have known. There've been a lot of jobs recently for missing persons. And when a lot of people go missing, the rumour mill opens for business. A lot of rumours too. But one that I've heard - and don't disbelieve - is that Skylon Tower is behind it. Skylon Tower was built almost twenty years ago in less than salubrious circumstances. No-one knows where the money came from, and no-one knows what its doing there. But its there and its big and its expensive. The money must be coming from somewhere.</p>
<p>Still, no matter how big these big-shots are, surely they wouldn't go after Yeung Fo's daughter? Unless the didn't know. But that doesn't sound like them. They'd know.</p>
<p>I gave the bell boy another 10 Yen for his trouble and left the hotel. I needed to think this over. Taking on Skylon Tower was another thing altogether and getting caught in the crossfire between Fo and whoever runs that joint isn't my idea of a good time.</p>
<p>Something felt wrong about the whole setup too. What was Skylon muscle doing walking around with branding all over him. Surely they'd be more subtle than that if they were in the business of kidnapping celebrity fashion models. Unless they wanted to be seen. Unless they want someone to know what they're up to. Well, they caught someone's attention. I'm just not sure I want it to be mine.</p>
<p>As I wandered the streets that evening, I mulled over the day's work. Petal embroiled in some unsavoury midnight activities. Fo ignorant - supposedly - of her goings on. A high-class escort with a thing for recording her clients. And a mysterious corporate kidnapping that's both overt and audacious. What message do they want to send by this? What connection do they have with Fo? And how did Flower get caught up in all this? Was she an innocent bystander in the wrong place at the wrong time, or did Skylon make out to snap her in the glaring light of recorded sex tapes?</p>
<p>The sun was setting across the jagged skyline of the city. These days, when night falls, the city is illuminated by a second daylight of adverts. I remember when a second daylight fell on Old Seoul, sweeping it away in the holocaust that followed. A second daylight of radiation and fire that rained down death, deformity and depravity on the years that followed. The lights forming models and adverts dancing against the buildings that night painted a prettier picture, but the legacy of those days is still all around us.</p>
<p><hr></p>
<p>Midnight. Standing at the base of Skylon Tower and all around me is the artificial light of a techno-day. Life here runs twenty four hours. I guess its no wonder they won the war in the end. They work harder and longer, for less. We got lazy, they got smart. I scope the building, but there's a Kork in a suit behind every doorway. Glass-fronted reception halls with chandeliers and seats that look like modern art. For better or worse I was going to have to find another way in.</p>
<p>Underground car parks in this city are the home of low-lifes and slums and this one was no exception. Down here, I pass unnoticed. Right up to the entrance to the service lift. I didn't spend twelve years in the Western Marine Corps for nothing and getting in was no problem. As the lift doors open on basement level 1, it strikes me that for the eight years I've been living in New Seoul Skylon Tower has been something of an enigma. Now I'm inside it and I'm not sure what I'm doing. Yeung Fo on one side, Skylon Corporation on the other. Flower Petal in the middle. Can't run from any of them, not now I'm inside anyway.</p>

                <hr>
                <p style="text-align:center">| <a href="flower-petal-1.html">1</a> | <a href="flower-petal-2.html">2</a> | <a href="flower-petal-3.html">3</a> | 4 | <a href="flower-petal-5.html">5</a> | <a href="flower-petal-6.html">6</a> | <a href="flower-petal-7.html">7</a> | <a href="flower-petal-8.html">8</a> |<br><a href="/skylon-tower">Previous Chapter</a> | <a href="/skylon-tower/bertram-1.html">Next Chapter</a>
                </p>
            </div>
        </div>
<div id="app" class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Comments</h4>
        <ul class="timeline">
            <li>
                <form>
                    <div class="form-group">
                        <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                        <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                        <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                    </div>
                </form>
            </li>
            <li v-for="comment in comments">
                <p><b>{{ comment.createdAt }}</b></p>
                <p>{{ comment.body }}</p>
            </li>
        </ul>
    </div>
</div>
    
<script>
        loadComments = function() {
            $.get('/topics/18655331/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post({
                    url: '/topics/18655331/comments',
                    data: JSON.stringify({Body: app.newComment}), 
                    contentType: 'application/json'
                }, function() {
                    loadComments()
                    app.newComment = ''
                })
            }
        }
    })

   loadComments() 
</script>
 
    </div>
    </body>
</html>