
<!doctype html>
<html lang="en">
    <head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-164357380-1');
</script>
    <title>A. Kuszyk | Skylon Tower - Flower Petal (7/8)</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
    
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>
    
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg"><h1>Skylon Tower</h1>
<h2>Flower Petal</h2>
<h3>Part 7/8

                <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg"><p>"If you'll accompany these two gentlemen through to the next room, I believe a representative from Skylon Tower is waiting for you. Its been a pleasure, Mr Yang."</p>
<p>The girl gave another infuriating little curtsy and followed her good-for-nothing Father out of the room. Korks. No sense of honour. How am I supposed to get paid if I'm stuck in a room with these goons? Still, nothing for it but to follow his lead.</p>
<p>In the next room there's a couple more suits, a couple more labs. And a big, metal door frame that looks like some kind of intricate machine. The door itself is midnight black. First time I've seen real night in this city since I arrived and the war ended.</p>
<p>"Good evening, Bertram Yang."</p>
<p>Whoever this guy was, he was a different breed. Spoke Standard like a native. Like a Cream.</p>
<p>"Please, step this way."</p>
<p>"And what if I tell you to fuck off?"</p>
<p>"Then my colleague here will infuse the air with a gaseous narcotic that will render you limp and helpless, but still fully conscious and we shall proceed anyway. Either course of actions is acceptable to me, but I suspect you would prefer to take part in control of your body.</p>
<p>"Take part in what?"</p>
<p>"The door. We wish you to step through the door."</p>

                <hr>
                <p style="text-align:center">| <a href="flower-petal-1.html">1</a> | <a href="flower-petal-2.html">2</a> | <a href="flower-petal-3.html">3</a> | <a href="flower-petal-4.html">4</a> | <a href="flower-petal-5.html">5</a> | <a href="flower-petal-6.html">6</a> | 7 | <a href="flower-petal-8.html">8</a> |<br><a href="/skylon-tower">Previous Chapter</a> | <a href="/skylon-tower/bertram-1.html">Next Chapter</a>
                </p>
            </div>
        </div>
<div id="app" class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Comments</h4>
        <ul class="timeline">
            <li>
                <form>
                    <div class="form-group">
                        <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                        <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                        <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                    </div>
                </form>
            </li>
            <li v-for="comment in comments">
                <p><b>{{ comment.createdAt }}</b></p>
                <p>{{ comment.body }}</p>
            </li>
        </ul>
    </div>
</div>
    
<script>
        loadComments = function() {
            $.get('/topics/18655331/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post({
                    url: '/topics/18655331/comments',
                    data: JSON.stringify({Body: app.newComment}), 
                    contentType: 'application/json'
                }, function() {
                    loadComments()
                    app.newComment = ''
                })
            }
        }
    })

   loadComments() 
</script>
 
    </div>
    </body>
</html>