
<!doctype html>
<html lang="en">
    <head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-164357380-1');
</script>
    <title>A. Kuszyk | Skylon Tower - Flower Petal (3/8)</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
    
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>
    
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg"><h1>Skylon Tower</h1>
<h2>Flower Petal</h2>
<h3>Part 3/8

                <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg"><p><hr></p>
<p>Love-lips was a surprise. Turns out she's a Cream, like me. Didn't stop her being even more expensive than the bell boy though. Pretty sure I could have had a good time with her for less than I paid for her intel. Still, she spins me a yarn that seems true enough. She booked the room, met the two love birds. The three of them had a ball, then the boy bailed. The two girls stayed up late. We're talking 4am yesterday morning. A Cream and a blue-skin. Twenty years ago you could be shot for less. She says they fell asleep. She says in each others arms. When she woke, Petal was gone. No note, no news, no nothing. Gone from the very same bed, without poor Love-lips fluttering an eyelid.</p>
<p>I asked her if she knew anything else. If she could help any more. She hesitated. Seems this wasn't her first jaunt with Flower, seems she might be worried. She told me she could tell me one more thing. I sighed.</p>
<p>"How much for this?"</p>
<p>Her Standard isn't so good–must be spending too much time with the Blues–but I catch her drift. She wants this to stay between me and her. She tells me about the recording that the hotel takes. They do it every time, Flower doesn't know. Neither does the boy. But Love-lips likes a copy. So do the bell boys. This sick three way affair just got a fourth angle.</p>
<p><hr></p>
<p>This time the bell boy wouldn't budge. I offered him 100 credits. He didn't take it. So I had to apply some mechanical persuasion. That's what we used to call it back in the war days. He took me to the room, no problem. Probably felt like he owed me that much anyway for bleeding me dry not an hour before. But once in the room, he pleaded ignorance of all things sordid and recorded. I locked the door. Twenty minutes later, he was taking me to the data room with a slight limp and a bleeding nose.</p>
<p>Fast-forward, fast-forward. I didn't want to see this, but the bell boy didn't seem to mind taking his time. Finally they're both asleep, quite the couple. 0430. 0500. 0530. No, wait. We back-tracked. There. At 0523, a man enters. His antenna is under a fedora, but I can tell he's a blue-skin. He sprays something in the air around the girls' faces and then leans down and picks up Flower. Slings her over his shoulder and walks right out of there. Even the bell boy is shocked. Blues snatching blues. Cute. We take it back a bit and zoom right in. The guy's wearing a cheap, corporate suit. The suit's got a logo. We zoom right in.</p>
<p>Skylon Tower.</p>
<p><hr></p>

                <hr>
                <p style="text-align:center">| <a href="flower-petal-1.html">1</a> | <a href="flower-petal-2.html">2</a> | 3 | <a href="flower-petal-4.html">4</a> | <a href="flower-petal-5.html">5</a> | <a href="flower-petal-6.html">6</a> | <a href="flower-petal-7.html">7</a> | <a href="flower-petal-8.html">8</a> |<br><a href="/skylon-tower">Previous Chapter</a> | <a href="/skylon-tower/bertram-1.html">Next Chapter</a>
                </p>
            </div>
        </div>
<div id="app" class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Comments</h4>
        <ul class="timeline">
            <li>
                <form>
                    <div class="form-group">
                        <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                        <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                        <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                    </div>
                </form>
            </li>
            <li v-for="comment in comments">
                <p><b>{{ comment.createdAt }}</b></p>
                <p>{{ comment.body }}</p>
            </li>
        </ul>
    </div>
</div>
    
<script>
        loadComments = function() {
            $.get('/topics/18655331/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post({
                    url: '/topics/18655331/comments',
                    data: JSON.stringify({Body: app.newComment}), 
                    contentType: 'application/json'
                }, function() {
                    loadComments()
                    app.newComment = ''
                })
            }
        }
    })

   loadComments() 
</script>
 
    </div>
    </body>
</html>