<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-164357380-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
        <title>A. Kuszyk | Skylon Tower</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            ul.timeline {
                list-style-type: none;
                position: relative;
            }
            ul.timeline:before {
                content: ' ';
                background: #d4d9df;
                display: inline-block;
                position: absolute;
                left: 29px;
                width: 2px;
                height: 100%;
                z-index: 400;
            }
            ul.timeline > li {
                margin: 20px 0;
                padding-left: 20px;
            }
            ul.timeline > li:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #22c0e8;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }
        </style>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>Skylon Tower</h1>
<h3><a href="skylon-tower.pdf">PDF</a>  |  <a href="skylon-tower.epub">EPUB</a> </h3>
            <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg">
                <h2>Flower Petal</h2>
<p>It was raining again that night, when I stepped out of Nuq Chu'deq's apartment. A storm had been building all day in the humid, brooding air, but this wasn't the kind of violent explosive storm that blew itself out in a few hours. This was a relentless, constant down-pour that lasted forever and soaked you through immediately.</p>
<p>I'd just landed another job, although if I'd have known it was to be my last I might have passed it up. Still, when a man like Nuq Chu'deq asks you to find his daughter, you take his money and make sure you find a girl. If she's the daughter, great. If she looks the same, so be it. But you find a girl.</p>
<p>They were all alike, these rich blue-skins with their spoiled daughters. Flower Petal - what kind of a name was that? Fashion model. And he's paying me 1500 credits to find her. She probably earns that in a single shoot. But like I said, a man like that asks, it's not a request. I'm an underclass to men like Chu'deq. Even if he needs me, it's like a lord needs his servants. If one disobeys, he can always find another.</p>
<p>I pulled up my collar and headed out into the darkness, wet feet in puddles and rain soaking through my shoulders. The bright lights of the city illuminated the sky, but all I saw was rain clouds shrouding the darkness and a missing girl on every street corner.</p>
<p><hr></p>
<p>"Flower Petal."</p>
<p>"Oh yeah sure, I know the chick, Cream."</p>
<p>Cream. I hate that name. These blue-skins think they're so goddamn clever because their daddies won the war. Doesn't mean they can call me a Cream. Still, pride's no weapon when you're trying to get one of these suckers to open up.</p>
<p>"Great, that's great son, when did you last see her?"</p>
<p>"Who's asking Cream pie?"</p>
<p>The fucker was goading me, but I needed him to talk. Still, nothing wrong with a little intimidation.</p>
<p>"Nuq Chu'deq, that's who's asking. You know him?"</p>
<p>The cocky grin on his face froze slightly and he nodded, his cranial antenna suddenly rigid.</p>
<p>"Good. So tell me when you last saw Petal, or this Cream pie might turn sour."</p>
<p>Nice Bertram, nice. I always had a flair for the poetic.</p>
<p>It turns out this kid was busy in the sack with Chu'deq's little girl, which explains why he nearly peed his pants when I mentioned daddy's name. Still he told me where and when he saw Flower. Two nights ago in the Shey Wang district. Not exactly your top dollar, but not a dive either. He gave me the name of the hotel and asked me not to tell the boss. I smiled, but made no promises. Let the little fucker stew.</p>
<p><hr></p>
<p>It cost me 60 credits to bribe the bell boy. I remember a time when the brotherhood of man came for free. He says he showed Flower and her little boyfriend up to the room, but the booking wasn't in his name. Wasn't in hers either. Turns out there's a third wheel. A certain Love-lips Goodtime. Jeez. Is that a real name? I don't even know any more. These blue-skins seem to think that making up nonsense names in Standard is cute these days. Maybe they think it puts the rest of us down, but I think it's just plain weird. Still. Love-lips. She must be an upmarket escort, the sort that only the daughter of someone like Chu'deq could afford. That's probably why that boy was wetting his pants for her. She could bring expensive company to the party.</p>
<p>Twenty more credits and the bell boy talked. Gave me her call card. I called her. Voicemail. I called again, but traced it this time. Sometimes the tricks I learnt in the corps sure do help - these blue-skins think they got us all, but old Bertram Yang's still alive and kicking and his tricks still work.</p>
<p>Anyway, like I said. Traced the call to its destination. Looked like an apartment further uptown. Thought I'd pay her a visit.</p>
<p><hr></p>
<p>Love-lips was a surprise. Turns out she's a Cream, like me. Didn't stop her being even more expensive than the bell boy though. Pretty sure I could have had a good time with her for less than I paid for her intel. Still, she spins me a yarn that seems true enough. She booked the room, met the two love birds. The three of them had a ball, then the boy bailed. The two girls stayed up late. We're talking 4am yesterday morning. A Cream and a blue-skin. Twenty years ago you could be shot for less. She says they fell asleep. She says in each others arms. When she woke, Petal was gone. No note, no news, no nothing. Gone from the very same bed, without poor Love-lips fluttering an eyelid.</p>
<p>I asked her if she knew anything else. If she could help any more. She hesitated. Seems this wasn't her first jaunt with Flower, seems she might be worried. She told me she could tell me one more thing. I sighed.</p>
<p>"How much for this?"</p>
<p>Her Standard isn't so good–must be spending too much time with the Blues–but I catch her drift. She wants this to stay between me and her. She tells me about the recording that the hotel takes. They do it every time, Flower doesn't know. Neither does the boy. But Love-lips likes a copy. So do the bell boys. This sick three way affair just got a fourth angle.</p>
<p><hr></p>
<p>This time the bell boy wouldn't budge. I offered him 100 credits. He didn't take it. So I had to apply some mechanical persuasion. That's what we used to call it back in the war days. He took me to the room, no problem. Probably felt like he owed me that much anyway for bleeding me dry not an hour before. But once in the room, he pleaded ignorance of all things sordid and recorded. I locked the door. Twenty minutes later, he was taking me to the data room with a slight limp and a bleeding nose.</p>
<p>Fast-forward, fast-forward. I didn't want to see this, but the bell boy didn't seem to mind taking his time. Finally they're both asleep, quite the couple. 0430. 0500. 0530. No, wait. We back-tracked. There. At 0523, a man enters. His antenna is under a fedora, but I can tell he's a blue-skin. He sprays something in the air around the girls' faces and then leans down and picks up Flower. Slings her over his shoulder and walks right out of there. Even the bell boy is shocked. Blues snatching blues. Cute. We take it back a bit and zoom right in. The guy's wearing a cheap, corporate suit. The suit's got a logo. We zoom right in.</p>
<p>Skylon Tower.</p>
<p><hr></p>
<p>Skylon Tower. I should have known. There've been a lot of jobs recently for missing persons. And when a lot of people go missing, the rumour mill opens for business. A lot of rumours too. But one that I've heard - and don't disbelieve - is that Skylon Tower is behind it. Skylon Tower was built almost twelve years ago in less than salubrious circumstances. No-one knows where the money came from, and no-one knows what it's doing there. But it's there and it's big and its expensive. The money must be coming from somewhere.</p>
<p>Still, no matter how big these big-shots are, surely they wouldn't go after Nuq Chu'deq's daughter? Unless the didn't know. But that doesn't sound like them. They'd know.</p>
<p>I gave the bell boy another 10 credits for his trouble and left the hotel. I needed to think this over. Taking on Skylon Tower was another thing altogether and getting caught in the crossfire between Chu'deq and whoever runs that joint isn't my idea of a good time.</p>
<p>Something felt wrong about the whole setup too. What was Skylon muscle doing walking around with branding all over him. Surely they'd be more subtle than that if they were in the business of kidnapping celebrity fashion models, especially blue ones. Unless they wanted to be seen. Unless they want someone to know what they're up to. Well, they caught someone's attention. I'm just not sure I want it to be mine.</p>
<p>As I wandered the streets that evening, I mulled over the day's work. Petal embroiled in some unsavoury midnight activities. Chu'deq ignorant–supposedly–of her goings on. A high-class escort with a thing for recording her clients. And a mysterious corporate kidnapping that's both overt and audacious. What message do they want to send by this? What connection do they have with Chu'deq? And how did Flower get caught up in all this? Was she an innocent bystander in the wrong place at the wrong time, or did Skylon make out to snap her in the glaring light of recorded sex tapes?</p>
<p>The sun was setting across the jagged skyline of the city. These days, when night falls, the city is illuminated by a second daylight of adverts. I remember when a second daylight fell on Chicago, sweeping it away in a holocaust of cosmic energy. A second daylight of radiation and fire that rained down death, deformity and depravity on the years that followed. The lights forming models and adverts dancing against the buildings that night painted a prettier picture, but the legacy of those days is still all around us.</p>
<p><hr></p>
<p>Midnight. Standing at the base of Skylon Tower and all around me is the artificial light of a techno-day. Life here runs twenty four hours. I guess it's no wonder they won the war in the end. They work harder and longer, for less. We got lazy, they got smart. I scope the building, but there's a blue-skin in a suit behind every doorway. Glass-fronted reception halls with chandeliers and seats that look like modern art. For better or worse I was going to have to find another way in.</p>
<p>Underground car parks in this city are the home of low-lifes and slums and this one was no exception. Down here, I pass unnoticed. Right up to the entrance to the service lift. I didn't spend twelve years in the Western Marine Corps for nothing and getting in was no problem. As the lift doors open on basement level 1, it strikes me that during my eight years here Skylon Tower has been something of an enigma. Now I'm inside it and I'm not sure what I'm doing. Nuq Chu'deq on one side, Skylon Corporation on the other. Flower Petal in the middle. Can't run from any of them, not now I'm inside anyway.</p>
<p>The corridor's deserted. If I can find a data access panel, I can query their database for Petal's name. Twelve years in the Marine Corps and four in the intelligence section. This should be a breeze. Bingo. Level eighteen. She's being held for ‘portal research', whatever that means. Time to blend in and see what's shaking on the eighteenth floor.</p>
<p><hr></p>
<p>Lift doors open again, this time on to a smart, white-walled corridor. A plaque announces level eighteen. This place is like the city without: eternal daylight in a cycle that never ends. I stepped out cautiously. I'm well behind enemy lines now. If she's here, grab her. If she's not, plan B: find another girl. The data screen said room 1812. Sixth room on the left. Door ajar. Inside, there's three men and a girl. My first thought is the girl - it's Petal alright. My second glance is the man in a suit, rather than a lab coat. That's Chu'deq. The other two look like lab technicians.</p>
<p>My gut sinks. What is Chu'deq doing here, with Petal?</p>
<p>"Mr Yang."</p>
<p>"Chu'deq. Can't say I expected to see you here."</p>
<p>"Indeed. I believe you recognise my daughter."</p>
<p>She gave a mocking curtsy. I nodded.</p>
<p>"Thank you for coming tonight. I must say, you've made light work of it."</p>
<p>"Thanks. So have you."</p>
<p>"You jest, Mr Yang, but I was only informed of my daughter's presence here shortly before you arrived tonight. I was as surprised to find her here as you are to find me."</p>
<p>This stinks worse than the scene in the hotel, but I nod and play along.</p>
<p>"I hope this doesn't mean I forfeit my fee?"</p>
<p>"Of course not Mr Yang, I always keep my word and it's not your fault a competitor got there first."</p>
<p>I doubt that.</p>
<p>"So what's the story then? We all just walk out of here as if nothing's happened?"</p>
<p>"I'm afraid not Mr Yang, it seems that the nefarious players here at Skylon Tower mistook my daughter for a nobody. They're happy for her to be released from their custody, but they still have a requirement for someone who's absence in this city won't be missed. Chu'deqr someone like you, Mr Yang."</p>
<p>"Please, my friends call me Bertram."</p>
<p>"Indeed. No need for your weapon Mr - ah, Bertram - the security systems in this room are quite sophisticated, I understand. It is likely you would lose you hand before drawing it, and certainly before aiming it."</p>
<p>I relax my grip on the pistol at my kidney. Might be out of options soldier.</p>
<p>"If you'll accompany these two gentlemen through to the next room, I believe a representative from Skylon Tower is waiting for you. Its been a pleasure, Mr Yang."</p>
<p>The girl gave another infuriating little curtsy and followed her good-for-nothing Father out of the room. Blue-skins. No sense of honour. How am I supposed to get paid if I'm stuck in a room with these goons? Still, nothing for it but to follow his lead.</p>
<p>In the next room there's a couple more suits, a couple more labs. And a big, metal door frame that looks like some kind of intricate machine. The door itself is midnight black. First time I've seen real night in this city since I arrived and the war ended.</p>
<p>"Good evening, Bertram Yang."</p>
<p>Whoever this guy was, he was a different breed. Spoke Standard like a native. Like a Cream.</p>
<p>"Please, step this way."</p>
<p>"And what if I tell you to fuck off?"</p>
<p>"Then my colleague here will infuse the air with a gaseous narcotic that will render you limp and helpless, but still fully conscious and we shall proceed anyway. Either course of actions is acceptable to me, but I suspect you would prefer to take part in control of your body.</p>
<p>"Take part in what?"</p>
<p>"The door. We wish you to step through the door."</p>
<p>"Step into that black hole?"</p>
<p>"In a manner of speaking yes. Please oblige us, otherwise we will have to use force."</p>
<p>Somehow, I didn't doubt this blue-skin would follow through. His was the kind of merciless intellect that won them the war. Damn.</p>
<p>I stepped up to the door, looked in. No light, no reflection. Just darkness. Slightly cool. I look at the suit. He nods, smiling slightly. Pats me on the shoulder. Prick.</p>
<p>"Just step through Bertram, and tell us what you find on the other side."</p>
<hr><h2>Bertram</h2>
<p>A glassy sea. A crumpled mountain range. A sweeping desert. A green, green jungle. A hazy sky.</p>
<p>These are the last things I saw, from a hundred kilometres above the alien planet, emerging from their goddamn portal.</p>
<p>Should have told Chu'deq I don't work for less than 2000.</p>
<hr><h2>Skylon Tower</h2>
<p>"Has he reached the destination?"</p>
<p>"Yes sir, I believe so.</p>
<p>"And?"</p>
<p>"His vitals are fluctuating...no wait, ah."</p>
<p>"Yes?"</p>
<p>"I'm afraid he's expired sir."</p>
<p>"Like the others?"</p>
<p>"Like the others."</p>
<p>"You fools had better fix this machine soon. We're running out of ex-corps mercenaries to sweep off the streets."</p>
<p>"Yes sir, we're doing our best sir."</p>
<p>"Humph, be sure that you are. Get Chu'deq back in here. We need to arrange for his daughter to be missing again."</p>

<hr>
                <hr>
                <p style="text-align:center">
                    
                    <br>
                        
                </p>
            </div>
        </div>
        <div id="app" class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Comments</h4>
                <ul class="timeline">
                    <li>
                        <form>
                            <div class="form-group">
                                <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                                <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                                <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                            </div>
                        </form>
                    </li>
                    <li v-for="comment in comments">
                        <p><b>{{ comment.createdAt }}</b></p>
                        <p>{{ comment.body }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <script>
        loadComments = function() {
            $.get('/topics/18655331/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post(
                    {
                        url: '/topics/18655331/comments',
                        data: JSON.stringify({Body: app.newComment}), 
                        contentType: 'application/json'
                    }, 
                    function() {
                        loadComments()
                        app.newComment = ''
                    })
                }
            }
        })

        loadComments() 
        </script>
    </div>
    </body>
</html>
