<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-164357380-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
        <title>A. Kuszyk | The Kingdom Of Tharg - A Doorway of Doorways (5/6)</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            ul.timeline {
                list-style-type: none;
                position: relative;
            }
            ul.timeline:before {
                content: ' ';
                background: #d4d9df;
                display: inline-block;
                position: absolute;
                left: 29px;
                width: 2px;
                height: 100%;
                z-index: 400;
            }
            ul.timeline > li {
                margin: 20px 0;
                padding-left: 20px;
            }
            ul.timeline > li:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #22c0e8;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }
        </style>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>The Kingdom Of Tharg</h1>
<h2>A Doorway of Doorways</h2>
<h3>Part 5/6

            <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg">
                <p>"Trapped? Oh no, please don't trap me here my Lord, I'll just be taking Millie home and I'll be out of your way!"</p>
<p>"Of course, my good Capra, you may go as you please...but if you find things not quite as you left them...well, you know where to find me."</p>
<p>"Yes my Lord, of course my Lord, thank ye, thank ye," grovelled Capra as he backed towards the door, tugging at Millie to follow him."</p>
<p>Calir smiled benevolently and watched as the young man retreated nervously to the doorway, pulling his goat through with a small pop. Almost as soon as he'd arrived, he was gone again. The smile on Calir's was frozen suddenly with the realisation that he'd just dismissed his only hope of company in this desolate place.</p>
<p>"Hope," he murmured to himself, "where is my hope now?"</p>
<p>He seated himself back on the throne and waited. He calmed himself and sat still. He waited.</p>
<p><hr></p>
<p>Calir sat and he waited and he waited and he waited. His movements stilled, his breathing slowed and before long he looked like a silent statue carved out of the ice surrounding the fortress. He felt as if only moments were passing, but the truth was time was running through him like the neck of an hourglass. It could have been hours, it could have been days. He sat in the throne, staring out at the doorways to other worlds and waited. Silently, hopelessly, he waited.</p>
<p><hr></p>
<p>Capra was frantic, running this way and that in the meadow. He had to escape this horror, he had to make things right, he had to find the King of that place again. Everyone he knew, everyone loved, frozen in a moment time–untouchable and unreachable, beyond help forever. He had to reach the King of that place again.</p>

                <hr>
                <p style="text-align:center">
                    | <a href="a-doorway-of-doorways-1.html">1</a> | <a href="a-doorway-of-doorways-2.html">2</a> | <a href="a-doorway-of-doorways-3.html">3</a> | <a href="a-doorway-of-doorways-4.html">4</a> | 5 | <a href="a-doorway-of-doorways-6.html">6</a> |
                    <br>
                    <a href="/the-kingdom-of-tharg/the-call-of-the-mirror-1.html">Previous Chapter</a> | <a href="/the-kingdom-of-tharg/the-kingdom-of-tharg-1.html">Next Chapter</a>    
                </p>
            </div>
        </div>
        <div id="app" class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Comments</h4>
                <ul class="timeline">
                    <li>
                        <form>
                            <div class="form-group">
                                <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                                <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                                <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                            </div>
                        </form>
                    </li>
                    <li v-for="comment in comments">
                        <p><b>{{ comment.createdAt }}</b></p>
                        <p>{{ comment.body }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <script>
        loadComments = function() {
            $.get('/topics/16275216/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post(
                    {
                        url: '/topics/16275216/comments',
                        data: JSON.stringify({Body: app.newComment}), 
                        contentType: 'application/json'
                    }, 
                    function() {
                        loadComments()
                        app.newComment = ''
                    })
                }
            }
        })

        loadComments() 
        </script>
    </div>
    </body>
</html>
