<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-164357380-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
        <title>A. Kuszyk | The Kingdom Of Tharg - A Lost Joyrney Home (2/7)</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            ul.timeline {
                list-style-type: none;
                position: relative;
            }
            ul.timeline:before {
                content: ' ';
                background: #d4d9df;
                display: inline-block;
                position: absolute;
                left: 29px;
                width: 2px;
                height: 100%;
                z-index: 400;
            }
            ul.timeline > li {
                margin: 20px 0;
                padding-left: 20px;
            }
            ul.timeline > li:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #22c0e8;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }
        </style>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>The Kingdom Of Tharg</h1>
<h2>A Lost Joyrney Home</h2>
<h3>Part 2/7

            <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg">
                <p>"Will we walk back through the night?" asked Placor.</p>
<p>"Not afraid of a night-time stroll through the mountains are you?"</p>
<p>"Not at all! I was asking out of hope - I love a good stroll under the stars!"</p>
<p>Calir smiled to himself. He was looking forward to the return journey just as much as his younger borther. He enjoyed these annual camping trips out into the mountains, but he really was most happy sitting on his front step on a Summer's evening. There was a lot to be said for watching the gentle sunset and blowing smoke rings into the ruddy sky. Being away for a couple of nights once per year was enough to clear the cobwebs, stretch the legs and rejuvenate any ailing desires to be right back where he'd started from.</p>
<p>"Absolutely Plac, I wouldn't want to deprive you of the glory of the mountain foothills lit only by the moon and the stars. We walk to day break and fall asleep with the dawn!"</p>
<p><hr></p>
<p>As the evening progressed into night, the two brothers became quieter and drifted into their own thoughts. Each had a glimmer of a smile on his face as he glanced around at the embers of the mountainside, or up at glimmering stars, or at the fresh new moon. The temperature dropped as the night chilled towards midnight. Neither remarked upon this at first, but towards two in the morning, the younger of the two could stand it no more.</p>
<p>"It's uncommon chilly tonight!"</p>
<p>Calir promptly agreed with him and they decided to camp up there and then, rather than waiting for dawn. They had but to unfurl their blankets, huddle up next to each other and they were both fast asleep within the space of ten minutes. Two friends bundled up next to each other, gently snoring.</p>
<p>It was at this time, in the dead of night, whilst bird and beast were sound asleep that odd things began to happen. As the morning progressed, so did the night. Rather than a pale red beginning to colour the eastern horizon, the sky cleared into a frozen vista of stars that were fixed and unchanging. A light snow began to fall and tufts of grass here and there beside the path turned into glistening white stalks of frozen dew. Crystalline shapes formed on the scattered pools of water caught amongst the rocks as their surfaces froze. In short, the mild mountainside so full of joy and warm feelings a few hours earlier became frigid and icebound. The two brothers stirred, shivering.</p>

                <hr>
                <p style="text-align:center">
                    | <a href="a-lost-joyrney-home-1.html">1</a> | 2 | <a href="a-lost-joyrney-home-3.html">3</a> | <a href="a-lost-joyrney-home-4.html">4</a> | <a href="a-lost-joyrney-home-5.html">5</a> | <a href="a-lost-joyrney-home-6.html">6</a> | <a href="a-lost-joyrney-home-7.html">7</a> |
                    <br>
                    <a href="/the-kingdom-of-tharg/prologue-1.html">Previous Chapter</a> | <a href="/the-kingdom-of-tharg/the-dark-mirror-1.html">Next Chapter</a>    
                </p>
            </div>
        </div>
        <div id="app" class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Comments</h4>
                <ul class="timeline">
                    <li>
                        <form>
                            <div class="form-group">
                                <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                                <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                                <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                            </div>
                        </form>
                    </li>
                    <li v-for="comment in comments">
                        <p><b>{{ comment.createdAt }}</b></p>
                        <p>{{ comment.body }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <script>
        loadComments = function() {
            $.get('/topics/16275216/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post(
                    {
                        url: '/topics/16275216/comments',
                        data: JSON.stringify({Body: app.newComment}), 
                        contentType: 'application/json'
                    }, 
                    function() {
                        loadComments()
                        app.newComment = ''
                    })
                }
            }
        })

        loadComments() 
        </script>
    </div>
    </body>
</html>
