
<!doctype html>
<html lang="en">
    <head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-164357380-1');
</script>
    <title>A. Kuszyk | The Kingdom Of Tharg - A Lost Journey Home (2/7)</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
    
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>
    
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg"><h1>The Kingdom Of Tharg</h1>
<h2>A Lost Journey Home</h2>
<h3>Part 2/7

                <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg"><p>"Not at all! I was asking out of hope - I love a good stroll under the stars!"</p>
<p>Calir smiled to himself at the enthusiasm of his friends. He was looking forward to the return journey as much as the rest of them, possibly even more than Placor. He'd been organising these annual get-togethers for a few years now. He kept it up as much to get him out of the house as to meet up with old friends. But he really was most happy sitting on his front step on a Summer's evening, watching the gentle sunset and blowing smoke rings into the ruddy sky. Being away for a couple of nights once per year was enough to clear the cobwebs, stretch the legs and rejuvenate any ailing desires to be right back where he'd started from.</p>
<p>"Absolutely my friends, I wouldn't want to deprive you of the glory of the mountain foothills lit only by the moon and the stars. We walk to day break and fall asleep with the dawn!"</p>
<p>This exclamation was met with cheers from all corners of the group and the party moved on in high spirits and at a leisurely pace.</p>
<p><hr></p>
<p>As the evening progressed into night, the friends became quieter and lost in their own thoughts. Each had a glimmer of a smile on his face as he glanced amongst his fellow travellers or up at the night sky, or out at the receding mountainside bathed in moonlight. The temperature dropped as the night chilled towards midnight. No-one remarked upon this at first, but towards two in the morning, someone piped up from the middle of the group.</p>
<p>"I say! It is rather chilly, no?"</p>
<p>This remark was met with general agreement. The group stopped and, after some minutes of debate, they decided to camp up there and then, rather than waiting for dawn. They had but to unfurl their blankets, huddle up next to each other and they were all fast asleep within the space of ten minutes. Twelve friends, lined up next to each other, gently snoring.</p>
<p>It was at this time, in the dead of night, whilst all were in a deep and pleasant sleep that odd things began to happen. As the morning progressed, so did the night. Rather than a pale red beginning to colour the eastern horizon, the sky cleared into a frozen vista of stars that were fixed and unchanging. A light snow began to fall and tufts of grass here and there beside the path turned into glistening white stalks of frozen dew. Crystalline shapes formed on the scattered pools of water caught amongst the rocks as their surfaces froze. In short, the mild mountainside so full of joy and warm feelings a few hours earlier became frigid and icebound.</p>
<p>One by one, the friends of the party stirred and shivered, huddling themselves under their blankets and trying to preserve the warmth that had fled in the night.</p>

                <hr>
                <p style="text-align:center">| <a href="a-lost-journey-home-1.html">1</a> | 2 | <a href="a-lost-journey-home-3.html">3</a> | <a href="a-lost-journey-home-4.html">4</a> | <a href="a-lost-journey-home-5.html">5</a> | <a href="a-lost-journey-home-6.html">6</a> | <a href="a-lost-journey-home-7.html">7</a> |<br><a href="/the-kingdom-of-tharg">Previous Chapter</a> | <a href="/the-kingdom-of-tharg/the-dark-mirror-1.html">Next Chapter</a>
                </p>
            </div>
        </div>
<div id="app" class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Comments</h4>
        <ul class="timeline">
            <li>
                <form>
                    <div class="form-group">
                        <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                        <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                        <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                    </div>
                </form>
            </li>
            <li v-for="comment in comments">
                <p><b>{{ comment.createdAt }}</b></p>
                <p>{{ comment.body }}</p>
            </li>
        </ul>
    </div>
</div>
    
<script>
        loadComments = function() {
            $.get('/topics/16275216/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post({
                    url: '/topics/16275216/comments',
                    data: JSON.stringify({Body: app.newComment}), 
                    contentType: 'application/json'
                }, function() {
                    loadComments()
                    app.newComment = ''
                })
            }
        }
    })

   loadComments() 
</script>
 
    </div>
    </body>
</html>