
<!doctype html>
<html lang="en">
    <head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-164357380-1');
</script>
    <title>A. Kuszyk | The Kingdom Of Tharg - A Lost Journey Home (1/7)</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
    
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>
    
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg"><h1>The Kingdom Of Tharg</h1>
<h2>A Lost Journey Home</h2>
<h3>Part 1/7

                <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg"><p>The land was warm and yellow. A rich, golden light bathed the mountain tops as Calir and his friends made their way home. The path they were wending their way down was an easy one and the evening was comfortable and still.</p>
<p>"Ah! Well, that was a wonderful celebration, Cally!"</p>
<p>"It certainly was", replied Calir, after taking a draw on his pipe. "A splendid celebration indeed."</p>
<p>"I enjoy these little excursions of yours, I do, but I enjoy returning home almost as much."</p>
<p>"Oh, Placor", chuckled Calir, "never did I meet a citizen of Domum more prepared to return home after stepping out from his door for a pipe. Even when he's still in his slippers and was just after a draft of air!"</p>
<p>"Guilty as charged Cally, guilty as charged. There really is nothing like home after all, as they say. Its nice to go away, but it's nice-the-more to return to one's door."</p>
<p>"Careful Plac, any more of that and I'll have to brand you a poet!"</p>
<p>Calir and his friends were in high spirits on the gently falling path back out of the mountains that evening. Nothing could have been further from their minds than the ordeal that was about to present itself to them, nor the hardship that they would be forced to endure before even one of them saw the pleasant townships of Domum again.</p>
<p>"Will we walk back through the night?" called one of the younger men from the rear.</p>
<p>"Not afraid of a night-time stroll through the mountains are you?" called another.</p>

                <hr>
                <p style="text-align:center">| 1 | <a href="a-lost-journey-home-2.html">2</a> | <a href="a-lost-journey-home-3.html">3</a> | <a href="a-lost-journey-home-4.html">4</a> | <a href="a-lost-journey-home-5.html">5</a> | <a href="a-lost-journey-home-6.html">6</a> | <a href="a-lost-journey-home-7.html">7</a> |<br><a href="/the-kingdom-of-tharg">Previous Chapter</a> | <a href="/the-kingdom-of-tharg/the-dark-mirror-1.html">Next Chapter</a>
                </p>
            </div>
        </div>
<div id="app" class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Comments</h4>
        <ul class="timeline">
            <li>
                <form>
                    <div class="form-group">
                        <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                        <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                        <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                    </div>
                </form>
            </li>
            <li v-for="comment in comments">
                <p><b>{{ comment.createdAt }}</b></p>
                <p>{{ comment.body }}</p>
            </li>
        </ul>
    </div>
</div>
    
<script>
        loadComments = function() {
            $.get('/topics/16275216/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post({
                    url: '/topics/16275216/comments',
                    data: JSON.stringify({Body: app.newComment}), 
                    contentType: 'application/json'
                }, function() {
                    loadComments()
                    app.newComment = ''
                })
            }
        }
    })

   loadComments() 
</script>
 
    </div>
    </body>
</html>