
<!doctype html>
<html lang="en">
    <head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-164357380-1');
</script>
    <title>A. Kuszyk | The Kingdom Of Tharg - A Lost Journey Home (5/7)</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
    
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>
    
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg"><h1>The Kingdom Of Tharg</h1>
<h2>A Lost Journey Home</h2>
<h3>Part 5/7

                <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg"><p>Silence prevailed now as all eyes fell on the figure leaning over the balustrade. The smile seemed to wane about his lips and his eyes grew colder still.</p>
<p>"Tharg can, my boys. Yes, Tharg will, you just wait," the last of which he uttered almost in a tone of fear or veneration, but no longer with intimidation. Now it was he who was intimidated and the rest of them felt it. They felt cold stabs of fear run through them at the name of Tharg. None of them had heard it before, but all of them felt that this name was linked to their fate in this place and that he, after all, may not be sending them on their way home. He may, in fact, be consigning them to their doom in this icy wilderness.</p>
<p><hr></p>
<p>"Indeed he can!" came a new voice, booming out into the hall. A rich voice, deep and velvety, full-bodied and hearty, but laced with deceit and treachery. A voice to fear and respect. A voice to hide from and run from. Not a voice to be at the mercy of.</p>
<p>Muffled steps were heard descending the staircase from the mezzanine and from the doorway in the wall ahead of them, a figure appeared. He was tall and broad shouldered, similarly attired to the man at the balustrade, but with thick, entwined hair falling to his shoulders and a full beard. All of his hair was a bleached white colour, whilst his skin was a clear, translucent blue. His eyes were completely white and he walked bare-footed. He was a muscular and impressive figure, powerful in his physical presence and commanding in his gaze. Calir felt a thrill of fear as those white eyes glanced across him, surveying the hall.</p>
<p>"I am Tharg!" cried the newcomer, spreading his arms wide, "And I welcome you to my Kingdom, my Kingdom of Ice. And, I welcome you to my troop, my troop of mercenaries and marauders. I'm sure some of you will fit in quite well!"</p>
<p>Tharg was grinning now. A cruel grin, showing sharp teeth and extolling a malevolent threat that radiated from his lips and suffused the room. Calir felt colder than the ice outside as he listened to this and was filled with dread about the predicament he and his friends found themselves in.</p>
<p>"And those of you that don't," Tharg continued, looking back over this shoulder at the balcony upon which were now arranged a growing number of Tharg's followers. "And those of you that don't, will make a fine meal!"</p>
<p>With this, Tharg roared with laughter, as did the twenty of thirty bare chested, white-haired and blue-skinned thugs leering over the balcony. Some of them gnashed their teeth at the cowering friends below, others mimed tearing meat of the bone with their teeth. All took on a blood thirsty and violent aspect that left the poor men below quivering in their boots and huddling together for support.</p>
<p>As the laughter died away, Calir pulled himself together, drawing on his last scraps of courage and stepped forward, towards Tharg. This drew the King's eye, who now focused on Calir with fresh interest and a mild smile still playing about his lips.</p>

                <hr>
                <p style="text-align:center">| <a href="a-lost-journey-home-1.html">1</a> | <a href="a-lost-journey-home-2.html">2</a> | <a href="a-lost-journey-home-3.html">3</a> | <a href="a-lost-journey-home-4.html">4</a> | 5 | <a href="a-lost-journey-home-6.html">6</a> | <a href="a-lost-journey-home-7.html">7</a> |<br><a href="/the-kingdom-of-tharg">Previous Chapter</a> | <a href="/the-kingdom-of-tharg/the-dark-mirror-1.html">Next Chapter</a>
                </p>
            </div>
        </div>
<div id="app" class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Comments</h4>
        <ul class="timeline">
            <li>
                <form>
                    <div class="form-group">
                        <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                        <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                        <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                    </div>
                </form>
            </li>
            <li v-for="comment in comments">
                <p><b>{{ comment.createdAt }}</b></p>
                <p>{{ comment.body }}</p>
            </li>
        </ul>
    </div>
</div>
    
<script>
        loadComments = function() {
            $.get('/topics/16275216/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post({
                    url: '/topics/16275216/comments',
                    data: JSON.stringify({Body: app.newComment}), 
                    contentType: 'application/json'
                }, function() {
                    loadComments()
                    app.newComment = ''
                })
            }
        }
    })

   loadComments() 
</script>
 
    </div>
    </body>
</html>