<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-164357380-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
        <title>A. Kuszyk | The Kingdom Of Tharg - Finding Home (3/5)</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>The Kingdom Of Tharg</h1>
<h2>Finding Home</h2>
<h3>Part 3/5

            <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg">
                <p>Aevum sighed. After a few days of listening to Calir's good natured yet irritating complaints, he was starting to weary of the fellow's company. Still, he had promised to help the man reach his homeland and a mage didn't rescind his word simply because his companion wouldn't stop extolling his.</p>
<p>"As I have said, the ways of the Dark Mirror are mysterious. It is not for us to question her wisdom or her sorcery. Be glad she did not cast these effects on us permanently. A few more days and we shall be home–your home, at least–and all of these inconveniences will be forgotten."</p>
<p>Calir shrugged and huffed, clearly not happy with Aevum's response but aware of a small degree of frustration seeping through the mage's voice. Calir had decided that any magical person with the word ‘dark' in their title was best left un-enraged, whether they be friend or foe. Aevum seemed to be a friend, but still.</p>
<p>"Now, back to the task at hand. As I was saying, we will need to cross the Gelida sea to make it back to your homeland. It is frozen this close to the Ice Continent, but it thaws the further out we get."</p>
<p>"An ocean? How are we going to cross a frozen ocean?"</p>
<p>Aevum sighed, again.</p>
<p>"Its not an ocean, friend Calir, just a sea and barely fifteen miles wide at its narrowest, where we will cross. And there is a way to cross, albeit an ancient and dark way, but one that I am familiar with. Indeed, it is lucky for you that I am a Mage of Darkness, otherwise you would surely be captured and killed in the crossing. As it is, we are very likely to survive the attempt."</p>
<p>Calir let out a high pitched choke in response to this and looked even more forlorn. Every day his plight seemed a little more desperate. He was getting further and further away from Placor, whilst feeling like he was further and further away from home. Right now, all he wanted was to be back home, in a friendly ale-house with good food and good friends, rallying support for Plac's rescue. Yet here he was, crossing an enchanted sea of dark magic by a secret way that that was only safe for sorcerers of the night!</p>
<p>"Strength, friend Calir, strength. Inside of two days, we will be back in the sunlight of your homeland."</p>
<p>Stood in the icy wind, under a darkening sky and surrounded by the moonscape of shattered ice and jutting glacier, Calir could barely believe this. But, he had to put his trust in something and Aevum had proven himself a worthy companion thus far. Two days more and he would know for sure if he was being led home or into another frozen prison. He cleared his throat.</p>

                <hr>
                <p style="text-align:center">
                    | <a class="text-dark" href="finding-home-1.html">1</a> | <a class="text-dark" href="finding-home-2.html">2</a> | 3 | <a class="text-dark" href="finding-home-4.html">4</a> | <a class="text-dark" href="finding-home-5.html">5</a> |
                    <br>
                    <a class="text-dark" href="/the-kingdom-of-tharg/the-dark-mirror-1.html">Previous Chapter</a> | <a class="text-dark" href="/the-kingdom-of-tharg/the-gelida-sea-1.html">Next Chapter</a>    
                </p>
            </div>
        </div>
        <div id="app" class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Comments</h4>
                <ul class="timeline">
                    <li>
                        <form>
                            <div class="form-group">
                                <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                                <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                                <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                            </div>
                        </form>
                    </li>
                    <li v-for="comment in comments">
                        <p><b>{{ comment.createdAt }}</b></p>
                        <p>{{ comment.body }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <hr><p class="center tag">&#169; A. Kuszyk 2020</p>
        <script>
        loadComments = function() {
            $.get('/topics/16275216/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post(
                    {
                        url: '/topics/16275216/comments',
                        data: JSON.stringify({Body: app.newComment}), 
                        contentType: 'application/json'
                    }, 
                    function() {
                        loadComments()
                        app.newComment = ''
                    })
                }
            }
        })

        loadComments() 
        </script>
    </div>
    </body>
</html>
