
<!doctype html>
<html lang="en">
    <head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-164357380-1');
</script>
    <title>A. Kuszyk | The Kingdom Of Tharg - Finding Home (8/13)</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
    
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>
    
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg"><h1>The Kingdom Of Tharg</h1>
<h2>Finding Home</h2>
<h3>Part 8/13

                <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg"><p>"These ships are magically frozen in time and space, in the midst of an enchanted sea that is trapped in a permafrost for all eternity. The whole thing is odd, friend Calir."</p>
<p>"Yes, well apart from all that, the trunk there, it's stuck to the floor. You see?"</p>
<p>"Yes..."</p>
<p>"Well, I thought, ‘Oh it must be nailed down' - you know, to stop it from sliding across the floor down to this side of the room. But then, the chairs and the table. The dishes and the plates. The dust and grime that's covering everything. Its like none of it is affected by the angle of the deck. And, I say, that's odd isn't it?"</p>
<p>"Well, now you mention it, yes, that is odd. Very odd."</p>
<p>"Out on the deck, all those crates and so on had slid down the left-hand side of the ship, where we've been walking."</p>
<p>"The port side."</p>
<p>"Yes, well, they've all slid down as one would expect them to. Its hard enough to walk along the deck when it's pitched this far over."</p>
<p>"Indeed."</p>
<p>"But all the furniture in here, it's sort of - well, stuck I suppose. As if it hasn't noticed that the ship's halfway to capsizing."</p>

                <hr>
                <p style="text-align:center">| <a href="finding-home-1.html">1</a> | <a href="finding-home-2.html">2</a> | <a href="finding-home-3.html">3</a> | <a href="finding-home-4.html">4</a> | <a href="finding-home-5.html">5</a> | <a href="finding-home-6.html">6</a> | <a href="finding-home-7.html">7</a> | 8 | <a href="finding-home-9.html">9</a> | <a href="finding-home-10.html">10</a> | <a href="finding-home-11.html">11</a> | <a href="finding-home-12.html">12</a> | <a href="finding-home-13.html">13</a> |<br><a href="/the-kingdom-of-tharg/the-dark-mirror-1.html">Previous Chapter</a> | <a href="/the-kingdom-of-tharg/home-time-1.html">Next Chapter</a>
                </p>
            </div>
        </div>
<div id="app" class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Comments</h4>
        <ul class="timeline">
            <li>
                <form>
                    <div class="form-group">
                        <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                        <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                        <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                    </div>
                </form>
            </li>
            <li v-for="comment in comments">
                <p><b>{{ comment.createdAt }}</b></p>
                <p>{{ comment.body }}</p>
            </li>
        </ul>
    </div>
</div>
    
<script>
        loadComments = function() {
            $.get('/topics/16275216/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post({
                    url: '/topics/16275216/comments',
                    data: JSON.stringify({Body: app.newComment}), 
                    contentType: 'application/json'
                }, function() {
                    loadComments()
                    app.newComment = ''
                })
            }
        }
    })

   loadComments() 
</script>
 
    </div>
    </body>
</html>