<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-164357380-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
        <title>A. Kuszyk | The Kingdom Of Tharg - Home Time (3/10)</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            ul.timeline {
                list-style-type: none;
                position: relative;
            }
            ul.timeline:before {
                content: ' ';
                background: #d4d9df;
                display: inline-block;
                position: absolute;
                left: 29px;
                width: 2px;
                height: 100%;
                z-index: 400;
            }
            ul.timeline > li {
                margin: 20px 0;
                padding-left: 20px;
            }
            ul.timeline > li:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #22c0e8;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }
        </style>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>The Kingdom Of Tharg</h1>
<h2>Home Time</h2>
<h3>Part 3/10

            <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg">
                <p>With this, he strode away, with purpose this time, and Calir scrambled to catch up. They passed another two groups of frozen citizens before stumbling across a new phenomenon that stopped them both in their tracks, Calir especially.</p>
<p>"Do you smell that?"</p>
<p>"I do, friend Calir."</p>
<p>"That smells like...like...baking bread!"</p>
<p>Despite having to dredge the source of the smell from his memory, he was sure that he could smell fresh bread being baked. It was as if he hadn't smelt it in years and it awakened a hunger in him so powerful that he had hardly recognised the smell before he was running towards the baker's shop. Aevum felt a desire no less compulsive, but managed to maintain a modicum of composure by following Calir at a swift pace.</p>
<p>Calir burst into Panem's Bakehouse, looking all around for the nearest loaf. His charge was checked, however, by the three people waiting in a queue at the counter and the baker himself, presumably Panem, serving up his produce. All four were like statues, caught in a scene of domestic simplicity. The two at the rear of the queue were clearly chatting amiably. Perhaps they were good friends? Or they have just been exchanging pleasantries about the day. The lady at the front of the queue was gesturing over the counter to point at this loaf or that and the baker had his left hand resting on a wrapped parcel, whilst with his right he was pointing in the same direction as the lady. The lady's face was obscured, since she was facing Panem, but his face held a smile under a closely trimmed moustache and gently greying hair.</p>
<p>The smell of bread was intoxicating and despite the frozen horror of the scene before him, Calir crept furtively further into the bakehouse looking for a fresh loaf. He snuck behind the counter, almost expecting to be caught red-handed at any moment. There were racks and racks of cooling loaves behind Panem - they had been baked recently by the looks of things and were cooling ready for the day's customers.</p>
<p>"It's like time froze for them an instant before we arrived," Calir murmured to himself. Aevum stood stoically in the doorway and said nothing. Calir reached out for one of the enticing looking loaves and, picking it up, tore a chunk off. It was warm in his hand and smelled delicious. He took a mouthful and chewed contentedly. He bit again and again, before passing the bread towards the mage. Aevum walked forward slowly and took the proffered meal, eating it slowly with delicate bites.</p>
<p>When both men had satisfied their hunger, they retreated from the bakehouse and sat on the edge of the harbour wall, feet dangling out over the water below. Calir took a deep breath and sighed.</p>
<p>"Well, I'm full now, for the first time in what feels like years."</p>

                <hr>
                <p style="text-align:center">
                    | <a href="home-time-1.html">1</a> | <a href="home-time-2.html">2</a> | 3 | <a href="home-time-4.html">4</a> | <a href="home-time-5.html">5</a> | <a href="home-time-6.html">6</a> | <a href="home-time-7.html">7</a> | <a href="home-time-8.html">8</a> | <a href="home-time-9.html">9</a> | <a href="home-time-10.html">10</a> |
                    <br>
                    <a href="/the-kingdom-of-tharg/finding-home-1.html">Previous Chapter</a> | <a href="/the-kingdom-of-tharg/the-call-of-the-mirror-1.html">Next Chapter</a>    
                </p>
            </div>
        </div>
        <div id="app" class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Comments</h4>
                <ul class="timeline">
                    <li>
                        <form>
                            <div class="form-group">
                                <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                                <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                                <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                            </div>
                        </form>
                    </li>
                    <li v-for="comment in comments">
                        <p><b>{{ comment.createdAt }}</b></p>
                        <p>{{ comment.body }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <script>
        loadComments = function() {
            $.get('/topics/16275216/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post(
                    {
                        url: '/topics/16275216/comments',
                        data: JSON.stringify({Body: app.newComment}), 
                        contentType: 'application/json'
                    }, 
                    function() {
                        loadComments()
                        app.newComment = ''
                    })
                }
            }
        })

        loadComments() 
        </script>
    </div>
    </body>
</html>
