<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-164357380-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
        <title>A. Kuszyk | The Kingdom Of Tharg - Home Time (5/10)</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            ul.timeline {
                list-style-type: none;
                position: relative;
            }
            ul.timeline:before {
                content: ' ';
                background: #d4d9df;
                display: inline-block;
                position: absolute;
                left: 29px;
                width: 2px;
                height: 100%;
                z-index: 400;
            }
            ul.timeline > li {
                margin: 20px 0;
                padding-left: 20px;
            }
            ul.timeline > li:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #22c0e8;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }
        </style>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>The Kingdom Of Tharg</h1>
<h2>Home Time</h2>
<h3>Part 5/10

            <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg">
                <p>"You tell me, friend Calir, this is your home."</p>
<p>"Well, I've never been to this particular township before, but as far as I've heard tell all of Domum is as pleasant and mild as my home. Not like this place. It's like being in an oven. I wouldn't be surprised if that bread bakes itself!"</p>
<p>Calir looked to Aevum for comic effect, but the mage remained stoic. He gave a small shrug, yawned and stood up stretching.</p>
<p>"Well my good man, I don't know about you but I'm just about ready for bed. What with all that cold and that walking and that fear and that rowing, not to mention the generous meal the two of us just had, I'm of the mind to find a comfortable little room somewhere and curl up for a snooze."</p>
<p>Aevum rose to his feet as well.</p>
<p>"Mages of my order need not sleep, friend Calir, but I will meditate whilst you rest and guard you against evil."</p>
<p>"Evil! There will hardly be any of that around here I should hope. There's no-one able to do it! Hopefully we can find a quiet little inn and have a snooze whilst no-one is watching!"</p>
<p>He laughed at this, slapped the mage on the shoulder and set off again. Aevum watched Calir stroll away as if he hadn't a care in the world and smiled, ever-so-briefly. He was warmed by how much the young man seemed unaffected by the darkly magical situation they found themselves in. Aevum had a deep sense of foreboding about the strange passage of time in this place, but he was pleased that–at least for now–young Calir seemed not to notice. With that thought, he followed in Calir's buoyant footsteps towards an inn to rest at, at the end of their journey.</p>
<p><hr></p>
<p>When Calir awoke it was a gentle, peaceful return from sleep. He was laying on a feather mattress, albeit with the covers cast off, with his limbs spread out like a starfish. He had been weary beyond belief when they had finally found a suitable inn. All the ones along the seafront were full of rooms that were all in various states of occupation and they had to turn off onto one of the side streets to find one that had a vacant room. Despite the fact that everyone around them appeared to be frozen in time, Calir had felt uncomfortable sleeping in a room that someone else had paid to rent.</p>

                <hr>
                <p style="text-align:center">
                    | <a href="home-time-1.html">1</a> | <a href="home-time-2.html">2</a> | <a href="home-time-3.html">3</a> | <a href="home-time-4.html">4</a> | 5 | <a href="home-time-6.html">6</a> | <a href="home-time-7.html">7</a> | <a href="home-time-8.html">8</a> | <a href="home-time-9.html">9</a> | <a href="home-time-10.html">10</a> |
                    <br>
                    <a href="/the-kingdom-of-tharg/the-gelida-sea-1.html">Previous Chapter</a> | <a href="/the-kingdom-of-tharg/the-call-of-the-mirror-1.html">Next Chapter</a>    
                </p>
            </div>
        </div>
        <div id="app" class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Comments</h4>
                <ul class="timeline">
                    <li>
                        <form>
                            <div class="form-group">
                                <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                                <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                                <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                            </div>
                        </form>
                    </li>
                    <li v-for="comment in comments">
                        <p><b>{{ comment.createdAt }}</b></p>
                        <p>{{ comment.body }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <script>
        loadComments = function() {
            $.get('/topics/16275216/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post(
                    {
                        url: '/topics/16275216/comments',
                        data: JSON.stringify({Body: app.newComment}), 
                        contentType: 'application/json'
                    }, 
                    function() {
                        loadComments()
                        app.newComment = ''
                    })
                }
            }
        })

        loadComments() 
        </script>
    </div>
    </body>
</html>
