
<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-164357380-1');
        </script><title>A. Kuszyk | The Kingdom Of Tharg - Home Time</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <style>
            ul.timeline {
                list-style-type: none;
                position: relative;
            }
            ul.timeline:before {
                content: ' ';
                background: #d4d9df;
                display: inline-block;
                position: absolute;
                left: 29px;
                width: 2px;
                height: 100%;
                z-index: 400;
            }
            ul.timeline > li {
                margin: 20px 0;
                padding-left: 20px;
            }
            ul.timeline > li:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #22c0e8;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }
        </style>
   </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg"><h1>The Kingdom Of Tharg</h1>
<h2>Home Time</h2>

                <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg"><p>As they bobbed into the harbour, Calir felt a deep sense of calm. He was home again. He didn't recognise this particular waterfront, but it was obvious that they were back in Domum. There were a variety of fishing schooners moored here and there, hiding an array of colourful buildings that were all higgledy-piggledy along the harbour wall. People were milling about taking their time and clumped in groups of twos and threes, clearly enjoying the pleasant morning air. Now they were within the harbour, the air was almost completely still, warm and inviting. The sun was burning an uncomfortable patch on the back of Calir's head and he was sweating underneath all of his cloaks and blankets.</p>
<p>They bumped up against the dinghy pier and tied themselves on. Calir climbed out and shrugged off his blanket and cloak, unfastening the belt that had held them close all these days. Beneath these layers, he was still wearing the loose shirt and cotton trousers he'd been wearing back on the mountain path.</p>
<p>"I say, it's sweltering here! What say you, my good man?"</p>
<p>"Mages do not feel the cold, or the heat," the mage returned, "but it is warm in comparison to the ice continent we have just left, I grant you."</p>
<p>Having stashed his excess clothing in their craft, Calir led the way triumphantly along the seafront. The first group of people they encountered seemed to be having an intimate conversation, because they were standing quite still and their voices were inaudible.</p>
<p>"Ho there, my good people! We weary travellers have just returned from a nightmarish adventure in lands distant. What news from Domum?"</p>
<p>Calir hailed them from a few paces away, but received no reaction. He paused in this stride, waiting for them to turn, but they didn't. He shrugged his shoulders and walked up to them. Aevum hung back, watching the encounter unfold with a dark look on his face.</p>
<p>"Hello there, my good woman," Calir began again, tapping the closest figure on the shoulder. She remained stolidly still and didn't acknowledge Calir's friendly advances. The group of three were arranged roughly a metre apart, the woman Calir had greeted on one side and a married-looking couple on the other. He glanced from one to the other, studying their eyes and their faces. The wife opposite was mid-blink. The man was part way through raising his head in recognition, his mouth half-open. The woman Calir had greeted had a hand raised in gesticulation and her mouth was forming a word. All three of them appeared frozen in time part way through a conversation that would never end.</p>
<p>Calir stood rooted to the spot looking aghast from one face to another as realisation dawned on him. Aevum walked up slowly from behind to stand alongside him.</p>
<p>"Is there no end to the horror of this? What is happening here?"</p>
<p>"The ways of the Dark Mirror are subtle and insidious."</p>
<p>"The Dark Mirror? Here? I thought its power ended with the ice?"</p>
<p>"Indeed, her power reigns here no more than the power of Tharg, but she has sent two of her emissaries."</p>
<p>Calir turned to face the mage at this, thoroughly confused.</p>
<p>"Two of her emissaries?"</p>
<p>Aevum inclined his head.</p>
<p>"Us?"</p>
<p>"Us."</p>
<p>"But how could we be stopping time for these people? These poor, innocent, simple people!"</p>
<p>"I do not know, friend Calir, but let us learn more and unravel the darkness behind this situation!"</p>
<p>With this, he strode away, with purpose this time, and Calir scrambled to catch up. They passed another two groups of frozen citizens before stumbling across a new phenomenon that stopped them both in their tracks, Calir especially.</p>
<p>"Do you smell that?"</p>
<p>"I do, friend Calir."</p>
<p>"That smells like...like...baking bread!"</p>
<p>Despite having to dredge the source of the smell from his memory, he was sure that he could smell fresh bread being baked. It was as if he hadn't smelt it in years and it awakened a hunger in him so powerful that he had hardly recognised the smell before he was running towards the baker's shop. Aevum felt a desire no less compulsive, but managed to maintain a modicum of composure by following Calir at a swift pace.</p>
<p>Calir burst into Panem's Bakehouse, looking all around for the nearest loaf. His charge was checked, however, by the three people waiting in a queue at the counter and the baker himself, presumably Panem, serving up his produce. All four were like statues, caught in a scene of domestic simplicity. The two at the rear of the queue were clearly chatting amiably. Perhaps they were good friends? Or they have just been exchanging pleasantries about the day. The lady at the front of the queue was gesturing over the counter to point at this loaf or that and the baker had his left hand resting on a wrapped parcel, whilst with his right he was pointing in the same direction as the lady. The lady's face was obscured, since she was facing Panem, but his face held a smile under a closely trimmed moustache and gently greying hair.</p>
<p>The smell of bread was intoxicating and despite the frozen horror of the scene before him, Calir crept furtively further into the bakehouse looking for a fresh loaf. He snuck behind the counter, almost expecting to be caught red-handed at any moment. There were racks and racks of cooling loaves behind Panem - they had been baked recently by the looks of things and were cooling ready for the day's customers.</p>
<p>"It's like time froze for them an instant before we arrived," Calir murmured to himself. Aevum stood stoically in the doorway and said nothing. Calir reached out for one of the enticing looking loaves and, picking it up, tore a chunk off. It was warm in his hand and smelled delicious. He took a mouthful and chewed contentedly. He bit again and again, before passing the bread towards the mage. Aevum walked forward slowly and took the proffered meal, eating it slowly with delicate bites.</p>
<p>When both men had satisfied their hunger, they retreated from the bakehouse and sat on the edge of the harbour wall, feet dangling out over the water below. Calir took a deep breath and sighed.</p>
<p>"Well, I'm full now, for the first time in what feels like years."</p>
<p>"Hmm," Aevum replied absent mindedly looking for something inside his cloak.</p>
<p>"But, somehow, it doesn't feel right. Do you know what I mean?"</p>
<p>"Humph," replied Aevum, pulling a pipe out from within and beginning to load it with some leaf.</p>
<p>"Its as if the bread is for them, not for us. Its funny - we can smell it and eat it, but it's as if it too is frozen in time, along with them. What do you think?"</p>
<p>The mage lit his pipe and drew several long puffs from it before exhaling slowly and looking out to the horizon. He was still wearing all of the clothes he had been wearing when Calir had first met him and Calir couldn't understand how he wasn't sweltering in this heat.</p>
<p>"The ways of The Mirror remain a mystery."</p>
<p>"Is that it? Is that all you have to say on the matter?"</p>
<p>"It is all I know, friend Calir. And what can I say, but what I know."</p>
<p>A silence stretched between them then and Calir joined the mage in gazing out to sea. Despite knowing it was invisible now, Calir couldn't help feeling that somewhere out there he could still see the edge of the ice looming ominously. He unbuttoned his shirt and rolled up his sleeves.</p>
<p>"I say, is it me or is it absolutely sweltering here today?"</p>
<p>"You tell me, friend Calir, this is your home."</p>
<p>"Well, I've never been to this particular township before, but as far as I've heard tell all of Domum is as pleasant and mild as my home. But not this, this place is like being in an oven. I wouldn't be surprised if that bread bakes itself!"</p>
<p>Calir looked to Aevum for comic effect, but the mage remained stoic. He gave a small shrug, yawned and stood up stretching.</p>
<p>"Well my good man, I don't know about you but I'm just about ready for bed. What with all that cold and that walking and that fear and that rowing, not to mention the generous meal the two of just had, I'm of the mind to find a comfortable little room somewhere and curl up for a snooze."</p>
<p>Aevum rose to his feet as well.</p>
<p>"Mages of my order need not sleep, friend Calir, but I will meditate whilst you rest and guard you against evil."</p>
<p>"Evil! There will hardly be any of that around here I should hope. There's no-one able to do it! Hopefully we can find a quiet little inn and have a snooze whilst no-one is watching!"</p>
<p>He laughed at this, slapped the mage on the shoulder and set off again. Aevum watched Calir stroll away as if he hadn't a care in the world and smiled, ever-so-briefly. He was warmed by how much the young man seemed unaffected by the darkly magical situation they found themselves in. Aevum had a deep sense of foreboding about the strange passage of time in this place, but he was pleased that - at least for now - young Calir seemed not to notice. With that thought, he followed in Calir's buoyant footsteps towards an inn to rest at, at the end of their journey.</p>
<p><hr></p>
<p>When Calir awoke it was a gentle, peaceful return from sleep. He was laying on a feather mattress, albeit with the covers cast off, with his limbs spread out like a starfish. He had been weary beyond belief when they had finally found a suitable inn. All the ones along the seafront were full of rooms that were all in various states of occupation and they had to turn off onto one of the side streets to find one that had a vacant room. Despite the fact that everyone around them appeared to be frozen in time, Calir had felt uncomfortable sleeping in a room that someone else had paid to rent.</p>
<p>He lay there calmly for a moment before opening his eyes and staring up at the ceiling. The first thing he noticed was that it was still light. He felt like he had been asleep for hours - surely it must be the evening by now? The second thing he noticed was the unbearable heat. He felt like he was trapped in a tent on a hot Summer's morning and he wanted to escape to the outside to feel a cool breeze on his cheek.</p>
<p>Pulling himself off the bed, smacking his dry lips and rubbing his dry eyes, he made for the door. He found Aevum, still wrapped in his cloaks and shawls, seated in the middle of the landing meditating. At the sound of Calir creaking on the floor boards, the mage started and looked round. Seeing Calir, he rose easily to his feet and raised and eyebrow at Calir.</p>
<p>"It's hot, I'm thirsty," croaked Calir, "how long have I been asleep?"</p>
<p>"Almost ten hours, friend Calir. There is water downstairs."</p>
<p>Calir shook his head, confused by the time of day, and made his way stiffly down the stairs. He found a jug of water on the bar, with the innkeeper frozen mid-glass-wash, and took it and a mug outside. Mercifully the front of the inn was in shade and he seated himself at a small table. He poured himself a mug and downed it in one, before pouring another and drinking it more slowly this time. Aevum followed a moment later and seated himself next to him, such that the two men were looking out across the street to the casual passers-by frozen mid-stroll here and there.</p>
<p>"How is it still daylight?" Calir said after swallowing a gulp of water. "It was morning earlier, and if I've been asleep most of the day...why isn't it dusk?"</p>
<p>"Look at the Sun, friend Calir."</p>
<p>Calir followed the mage's instructions and found the Sun just above the rooftop's behind them - still in the East, but approaching late morning. He sat down again.</p>
<p>"But it can't be more than eleven o'clock."</p>
<p>"Indeed."</p>
<p>"And you're sure this is the same day as earlier? This isn't tomorrow?"</p>
<p>"When Mages meditate, we can still see the world around us. It hasn't got dark, the Sun hasn't set. This is undoubtedly the same day."</p>
<p>A thought struck Calir then and he finished his water.</p>
<p>"Let's go to the bakers."</p>
<p>"You're not hungry again, friend Calir?"</p>
<p>"No, but I want to check something. Come, my good man, let us investigate."</p>
<p><hr></p>
<p>Upon entering Panem's Bakehouse the first thing Calir noticed was the lack of customers. His stomach flipped with a nervous feeling of horror. But where had they gone, those frozen statues waiting in line to buy bread? The baker was behind the counter, with his back to them, frozen in the act of cutting or slicing something. The rack of cooling bread they had seen earlier was empty, but the counter was piled with fresh loaves. Calir walked over to them cautiously and felt them. Whereas the loaves they had chosen from earlier had been soft and warm, these were cool and crusty. Calir turned back to Aevum, who was waiting in the doorway, with his face contorted in confusion and fear.</p>
<p>"What's happening here?"</p>
<p>"I believe I know the answer, friend Calir. Surely you have guessed it by now?"</p>
<p>Calir paused for thought and looked back to the baker, puzzling over their predicament.</p>
<p>"Time isn't frozen for them, as we thought this morning. It just...slow. Its running slowly for them, for some reason. Maybe The Dark Mirror? I don't know!"</p>
<p>"And the Sun, what of the Sun?"</p>
<p>"I don't know...can she affect the Sun in the sky as well? What kind of magical trap are we caught in?"</p>
<p>The mage smiled grimly and re-arranged his cloak.</p>
<p>"It is not them, but us, friend Calir," he said as gently as he could. "Time is not slowed for the Sun and the stars and the people of this place, but it is accelerated for us. A day for us is an hour for them. What we see as a minute, they see as an instant. It is us who are trapped, but not frozen - we are caught in the eddies of time rushing past the smooth, calm lake of this place. And we cannot get out."</p>
<p>"Argh!" Calir exclaimed in anguish, "you mean to say that we are rushing around like sparks from a flame and that we shall live and die in the time it takes these people to see a year of seasons!"</p>
<p>"I'm afraid so, friend Calir, I'm afraid so."</p>
<p>"Then her punishment is complete and we have not escaped her grasp after all!"</p>
<p>"Indeed, a bargain made with The Dark Mirror is a bargain to beware. She kept to her word and we did not say that we wanted time to be restored to its ordinary pace."</p>
<p>"Restored to its ordinary pace? What the devil are you driving at man?"</p>
<p>"It strikes me now that we may have been swept aside by these torrents of time from the moment we first found ourselves in that cell beneath the ice. From the very first I suspect that time was passing more slowly for the outside world than for us and that that was part of the price we had to pay for our escape - to continue to endure those rapids."</p>
<p>"Then from the time I was cast into that pit....until the moment we arrived back at these shores...?"</p>
<p>"Very little time has passed at all, for the rest of the world."</p>
<p>During this exchange, Calir had been unwittingly retreating from Aevum's words towards the baker's counter. With this last, he bumped into it from behind and sank to his feet. He sat there on the floor, bewildered and overwhelmed. He couldn't take it in, what did it all mean?</p>
<p>"So that means...?"</p>
<p>"If you are thinking of your companions, friend Calir, as I would guess that you are - that means that they are still in the clutches of King Tharg and, for them, barely a few hours may have passed."</p>
<p>This news broke Calir's stupor and he was suddenly animated again, leaping to his feet.</p>
<p>"Why, that's splendid news!"</p>
<p>"Splendid?" returned Aevum, for the first time looking confused during their conversation.</p>
<p>"Why yes! That means that- well, far from being beyond hope of rescue or recovery, they're all right where I left them. And! Not only are they all still there, but when we return we shall be armed with the power of surprise and daring speed compared to those oafish thugs that Tharg was keeping company with! We can storm that fortress of his, slay our enemies and rescue my friends. Perhaps we can break the Mirror to boot and return home by the same path that took us there! We may be saved!"</p>
<p>The mage was stunned by this outburst. Despite his clearer understanding of their current predicament, he could never have guessed that it would lead to these conclusions in the other man's mind. He raised an eyebrow and gave it some thought. Retrace their steps to the palace of Tharg? Not easy. Rescue Calir's party from Tharg's clutches? Unlikely. Defeat the Mirror herself? Impossible! Still, based on the renewed look of hope on Calir's face, the mage could see that he wouldn't stop unless he had tried. And, for all his reluctance to embark on another quest into the interior of the Ice Continent, Aevum felt that his part to play in Calir's fate wasn't yet over. And so, despite his reservations, he resolved to help the man achieve his hopes at best and save him from an evil death at worst.</p>
<p>"Indeed," he said, and Calir smiled in response. The smile of innocence in the face of great challenge and even greater darkness. The smile that only a child of Domum could wear at a time like this."let us begin then, friend Calir, let us begin again."</p>

            <hr>
            <p style="text-align:center"><a href="/the-kingdom-of-tharg/finding-home.html">Previous</a> | <a href="/the-kingdom-of-tharg/the-call-of-the-mirror.html">Next</a>
                </p>
            </div>
        </div>
        <div id="app" class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Comments</h4>
                <ul class="timeline">
                    <li>
                        <form>
                            <div class="form-group">
                                <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                                <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                                <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                            </div>
                        </form>
                    </li>
                    <li v-for="comment in comments">
                        <p><b>{{ comment.createdAt }}</b></p>
                        <p>{{ comment.body }}</p>
                    </li>
                </ul>
            </div>
        </div>

        <script>
            loadComments = function() {
                $.get('/topics/16275216/comments', function(data) {
                    console.log(typeof(data))
                    comments = []
                    for(d of data) {
                        createdAt = new Date(d.CreatedAt)
                        comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                    }
                    app.$data.comments = comments
                })
            }

            var app = new Vue({
                el: '#app',
                data: {
                    newComment: '',
                    comments: []
                },
                methods: {
                    submitComment: function() {
                        console.log(app.newComment)
                        $.post({
                            url: '/topics/16275216/comments',
                            data: JSON.stringify({Body: app.newComment}), 
                            contentType: 'application/json'
                        }, function() {
                            loadComments()
                            app.newComment = ''
                        })
                    }
                }
            })

           loadComments() 
        </script>

    </div>
    </body>
</html>