<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-164357380-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
        <title>A. Kuszyk | The Kingdom Of Tharg - Home Time (1/10)</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>The Kingdom Of Tharg</h1>
<h2>Home Time</h2>
<h3>Part 1/10

            <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg">
                <p>As they bobbed into the harbour, Calir felt a deep sense of calm. He was home again. He didn't recognise this particular waterfront, but it was obvious that they were back in Domum. There were a variety of fishing schooners moored here and there, hiding an array of colourful buildings that were all higgledy-piggledy along the harbour wall. People were milling about taking their time and clumped in groups of twos and threes, clearly enjoying the pleasant morning air. Now they were within the harbour, the air was almost completely still, warm and inviting. The sun was burning an uncomfortable patch on the back of Calir's head and he was sweating underneath all of his cloaks and blankets.</p>
<p>They bumped up against the dinghy pier and tied themselves on. Calir climbed out and shrugged off his blanket and cloak, unfastening the belt that had held them close all these days. Beneath these layers, he was still wearing the loose shirt and cotton trousers from back on the mountain path.</p>
<p>"I say, it's sweltering here! What say you, my good man?"</p>
<p>"Mages do not feel the cold, or the heat," the mage returned, "but it is warm in comparison to the Ice Continent we have just left, I grant you."</p>
<p>Having stashed his excess clothing in their craft, Calir led the way triumphantly along the seafront. The first group of people they encountered seemed to be having an intimate conversation, because they were standing quite still and their voices were inaudible.</p>
<p>"Ho there, my good people! We weary travellers have just returned from a nightmarish adventure in lands distant. What news from Domum?"</p>
<p>Calir hailed them from a few paces away, but received no reaction. He paused in this stride, waiting for them to turn, but they didn't. He shrugged his shoulders and walked up to them. Aevum hung back, watching the encounter unfold with a dark look on his face.</p>
<p>"Hello there, my good woman," Calir began again, tapping the closest figure on the shoulder. She remained stolidly still and didn't acknowledge Calir's friendly advances. The group of three were arranged roughly a yard apart, the woman Calir had greeted on one side and a married-looking couple on the other. He glanced from one to the other, studying their eyes and their faces. The wife opposite was mid-blink. The man was part way through raising his head in recognition, his mouth half-open. The woman Calir had greeted had a hand raised in gesticulation and her mouth was forming a word. All three of them appeared frozen in time part way through a conversation that would never end.</p>
<p>Calir stood rooted to the spot looking aghast from one face to another as realisation dawned on him. Aevum walked up slowly from behind to stand alongside him.</p>
<p>"Is there no end to the horror of this? What is happening here?"</p>

                <hr>
                <p style="text-align:center">
                    | 1 | <a class="text-dark" href="home-time-2.html">2</a> | <a class="text-dark" href="home-time-3.html">3</a> | <a class="text-dark" href="home-time-4.html">4</a> | <a class="text-dark" href="home-time-5.html">5</a> | <a class="text-dark" href="home-time-6.html">6</a> | <a class="text-dark" href="home-time-7.html">7</a> | <a class="text-dark" href="home-time-8.html">8</a> | <a class="text-dark" href="home-time-9.html">9</a> | <a class="text-dark" href="home-time-10.html">10</a> |
                    <br>
                    <a class="text-dark" href="/the-kingdom-of-tharg/the-gelida-sea-1.html">Previous Chapter</a> | <a class="text-dark" href="/the-kingdom-of-tharg/the-call-of-the-mirror-1.html">Next Chapter</a>    
                </p>
            </div>
        </div>
        <div id="app" class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Comments</h4>
                <ul class="timeline">
                    <li>
                        <form>
                            <div class="form-group">
                                <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                                <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                                <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                            </div>
                        </form>
                    </li>
                    <li v-for="comment in comments">
                        <p><b>{{ comment.createdAt }}</b></p>
                        <p>{{ comment.body }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <hr><p class="center tag">&#169; A. Kuszyk 2020</p>
        <script>
        loadComments = function() {
            $.get('/topics/16275216/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post(
                    {
                        url: '/topics/16275216/comments',
                        data: JSON.stringify({Body: app.newComment}), 
                        contentType: 'application/json'
                    }, 
                    function() {
                        loadComments()
                        app.newComment = ''
                    })
                }
            }
        })

        loadComments() 
        </script>
    </div>
    </body>
</html>
