
<!doctype html>
<html lang="en">
    <head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-164357380-1');
</script>
    <title>A. Kuszyk | The Kingdom Of Tharg - Home Time (6/10)</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
    
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>
    
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg"><h1>The Kingdom Of Tharg</h1>
<h2>Home Time</h2>
<h3>Part 6/10

                <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg"><p>He lay there calmly for a moment before opening his eyes and staring up at the ceiling. The first thing he noticed was that it was still light. He felt like he had been asleep for hours - surely it must be the evening by now? The second thing he noticed was the unbearable heat. He felt like he was trapped in a tent on a hot Summer's morning and he wanted to escape to the outside to feel a cool breeze on his cheek.</p>
<p>Pulling himself off the bed, smacking his dry lips and rubbing his dry eyes, he made for the door. He found Aevum, still wrapped in his cloaks and shawls, seated in the middle of the landing meditating. At the sound of Calir creaking on the floor boards, the mage started and looked round. Seeing Calir, he rose easily to his feet and raised and eyebrow at Calir.</p>
<p>"It's hot, I'm thirsty," croaked Calir, "how long have I been asleep?"</p>
<p>"Almost ten hours, friend Calir. There is water downstairs."</p>
<p>Calir shook his head, confused by the time of day, and made his way stiffly down the stairs. He found a jug of water on the bar, with the innkeeper frozen mid-glass-wash, and took it and a mug outside. Mercifully the front of the inn was in shade and he seated himself at a small table. He poured himself a mug and downed it in one, before pouring another and drinking it more slowly this time. Aevum followed a moment later and seated himself next to him, such that the two men were looking out across the street to the casual passers-by frozen mid-stroll here and there.</p>
<p>"How is it still daylight?" Calir said after swallowing a gulp of water. "It was morning earlier, and if I've been asleep most of the day...why isn't it dusk?"</p>
<p>"Look at the Sun, friend Calir."</p>
<p>Calir followed the mage's instructions and found the Sun just above the rooftop's behind them - still in the East, but approaching late morning. He sat down again.</p>
<p>"But it can't be more than eleven o'clock."</p>
<p>"Indeed."</p>

                <hr>
                <p style="text-align:center">| <a href="home-time-1.html">1</a> | <a href="home-time-2.html">2</a> | <a href="home-time-3.html">3</a> | <a href="home-time-4.html">4</a> | <a href="home-time-5.html">5</a> | 6 | <a href="home-time-7.html">7</a> | <a href="home-time-8.html">8</a> | <a href="home-time-9.html">9</a> | <a href="home-time-10.html">10</a> |<br><a href="/the-kingdom-of-tharg/finding-home-1.html">Previous Chapter</a> | <a href="/the-kingdom-of-tharg/the-call-of-the-mirror-1.html">Next Chapter</a>
                </p>
            </div>
        </div>
<div id="app" class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Comments</h4>
        <ul class="timeline">
            <li>
                <form>
                    <div class="form-group">
                        <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                        <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                        <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                    </div>
                </form>
            </li>
            <li v-for="comment in comments">
                <p><b>{{ comment.createdAt }}</b></p>
                <p>{{ comment.body }}</p>
            </li>
        </ul>
    </div>
</div>
    
<script>
        loadComments = function() {
            $.get('/topics/16275216/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post({
                    url: '/topics/16275216/comments',
                    data: JSON.stringify({Body: app.newComment}), 
                    contentType: 'application/json'
                }, function() {
                    loadComments()
                    app.newComment = ''
                })
            }
        }
    })

   loadComments() 
</script>
 
    </div>
    </body>
</html>