<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164357380-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-164357380-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
        <title>A. Kuszyk | The Kingdom Of Tharg - The Kingdom of Tharg (1/2)</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>The Kingdom Of Tharg</h1>
<h2>The Kingdom of Tharg</h2>
<h3>Part 1/2

            <hr>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg">
                <p>"My Lord, newcomers have arrived!"</p>
<p>Calir looked down at the man with disdain. From his vantage point atop the throne, he always felt like petitioners were bowing. This one wasn't, although he should be. Nomen or Nescio, or some such name, he couldn't remember. There seemed to be so many subjects in his palace these days.</p>
<p>"From where? No-one was arrived through my doors in days, weeks!" he roared, spreading his arms wide to take in the eight doorways in front of him.</p>
<p>"Not from within, but from without my Lord–they entered through the front gate!"</p>
<p>This time the man did bow, as if in apology for his statement.</p>
<p>"The front gate! Hmph, the front gate..."</p>
<p>Calir felt an odd stirring in his breast. Something was familiar yet unusual about this. Of all his subjects, not one had entered through the front gate. All had appeared out of his ethereal, blue doorways. But, somehow, the idea of people arriving from the outside was familiar.</p>
<p>"Take me to them at once!"</p>
<p>He marched out across the mezzanine, passing the familiar cool rush of air emanating from The Mirror, and down the steps to the atrium. He following the extended arm of Capra, who leaned back from over the balustrade leering. He padded down the stairs and into the wide hall, taking in the the pair of puny little men before him .</p>
<p>He paused and his heart leapt. Was that Placor? Dear little Placor? Somehow magically restored to him after all this time?. He smiled in welcome to each of them, and then his eyes stopped on the one in the centre. He was looking at Calir with dread in his eyes, a dread that Calir recognised. Impossible, it was impossible!</p>

                <hr>
                <p style="text-align:center">
                    | 1 | <a class="text-dark" href="the-kingdom-of-tharg-2.html">2</a> |
                    <br>
                    <a class="text-dark" href="/the-kingdom-of-tharg/a-doorway-of-doorways-1.html">Previous Chapter</a> | <a class="text-dark" href="/the-kingdom-of-tharg/epilogue-1.html">Next Chapter</a>    
                </p>
            </div>
        </div>
        <div id="app" class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Comments</h4>
                <ul class="timeline">
                    <li>
                        <form>
                            <div class="form-group">
                                <label for="commentInput">All comments are welcome, especially constructive ones!</label>
                                <textarea v-model="newComment" class="form-control" id="commentInput" rows="3"></textarea>
                                <button type="button" class="btn btn-primary" v-on:click="submitComment">Submit</button>
                            </div>
                        </form>
                    </li>
                    <li v-for="comment in comments">
                        <p><b>{{ comment.createdAt }}</b></p>
                        <p>{{ comment.body }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <hr><p class="center tag">&#169; A. Kuszyk 2020</p>
        <script>
        loadComments = function() {
            $.get('/topics/16275216/comments', function(data) {
                console.log(typeof(data))
                comments = []
                for(d of data) {
                    createdAt = new Date(d.CreatedAt)
                    comments.push({createdAt: `${createdAt.toLocaleString()}`, body: d.Body})
                }
                app.$data.comments = comments
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                newComment: '',
                comments: []
            },
            methods: {
                submitComment: function() {
                console.log(app.newComment)
                $.post(
                    {
                        url: '/topics/16275216/comments',
                        data: JSON.stringify({Body: app.newComment}), 
                        contentType: 'application/json'
                    }, 
                    function() {
                        loadComments()
                        app.newComment = ''
                    })
                }
            }
        })

        loadComments() 
        </script>
    </div>
    </body>
</html>
